<div class="alert alert-danger" role="alert" id="category_required_alert" style="display: none;">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	You must choose at least one category for your book submission.
</div>

<h1>Forum Blaster&nbsp;<span class="label label-success">BETA</span></h1>
<p>When pulsing your ebook, or running any kind of free promotion, you typically want to reach as many readers as possible. Announcing your free promotion on forums is a great way to increase your promotion reach. The <strong>Forum Blaster</strong> tool lets you submit details about your ebook to multiple forums at once.</p>
<p><strong>Please make sure that all fields are correct. Once the form is submitted, there is no way to make changes.</strong></p><p><strong>NOTE:</strong> A successful submission is not a guarantee that your book will be publicized. Publication of free Kindle ebooks is up to the discretion of each individual site, forum, and blog.</p>
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="spinner_modal" data-backdrop="static"  data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div style="background-color: white; height: 300px;"></div>
		<span id="loader_spinner" style="position: absolute;display: block;top: 50%;left: 50%;"></span>
    </div>
  </div>
</div>

<div class="modal fade" id="results_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Form Submission Results Preview</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-3">
        		<ul class="list-group" id="selected_forms"></ul>
        	</div>
        	<div class="col-md-9" id="div_response_view">
        		<h2></h2>
        		<iframe src="about:blank" frameborder="0" id="response_preview" width="100%" height="100%"><h1>Loading responses...</h1></iframe>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="submission_success_btn">Success</button>
        <button type="button" class="btn btn-danger" id="submission_failed_btn">Failed</button>
        <button type="button" class="btn btn-default" id="submission_previous_btn">Previous</button>
        <button type="button" class="btn btn-default" id="submission_next_btn">Next</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="submission_review_close_btn">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
	<div class="col-md-3">
		<table width="100%">
			<tr>
				<td><h3 class="ebook_categories_title">eBook Categories</h3></td>
				<td align="right" style="padding-top: 10px;"><a class="badge ebook_categories_popover" data-toggle="popover" title="eBook Category Tips" data-content="Some sites focus on certain categories of book. Choose the categories that match your KDP categories closest. Note you must select at least one category.">?</a></td>
			</tr>
		</table>
		<div class="form-group">
			<ul class="list-group">
				<% @forms.each do |f| %>
					<% unless f["forms"].blank? %>
					  <li class="list-group-item">
					    <input type="checkbox" id="check_<%= f["cat_id"] %>" name="form_categories[]" value="<%= f["cat_id"] %>" class="form_category_checkbox" minchecked="1" data-validation-minchecked-message="You must choose at least one category." />&nbsp;
					    <a data-toggle="modal" data-target="#mdl_<%= f["cat_id"] %>"><%= f["category"] %></a>
					    <div class="modal fade" id="mdl_<%= f["cat_id"] %>">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title"><%= f["category"] %> Forums</h4>
						      </div>
						      <div class="modal-body">
						        <% f["forms"].each do |frms| %>
						    		<p><%= frms["form_name"] %></p>
						    	<% end %>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					  </li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>

	<form action="" method="post" id="ebook_form">
	<div class="col-md-9">
		<h3>eBook Details</h3>
		<div style="column-count: 2; -webkit-column-count: 2; -moz-column-count: 2; -o-column-count: 2;" id="submission_form">
			<div class="form-group">
				<label for="title">Book Title</label>
				<input type="text" name="title" id="title" class="form-control friendlies" data-bv-notempty data-bv-notempty-message="Please enter the name of your book." />
			</div>
			<div class="form-group">
				<label for="author_first_name">Author First Name</label>
				<input type="text" name="author_first_name" id="author_first_name" class="form-control friendlies" />
			</div>
			<div class="form-group">
				<label for="author_last_name">Author Last Name</label>
				<input type="text" name="author_last_name" id="author_last_name" class="form-control friendlies" />
			</div>
			<div class="form-group">
			<label for="author">Author&nbsp;</label><a class="badge author_popover" data-toggle="popover" title="Author name" data-content="If you use a middle initial or write under any name other than your first name/last name combination, you can provide it here for sites that allow this.">?</a>
			<input type="text" name="author" id="author" class="form-control friendlies" />
			<input type="hidden" name="two_digit_verification" id="two_digit_verification" class="form-control friendlies" value="12" />
			</div>
			<div class="form-group">
				<label for="genre">Genre</label>
				<select name="genre" id="genre" class="form-control friendlies">
					<% @categories.each do |c| %>
						<option value="<%= c.name %>" name="category_<%= c.id %>" id="category_<%= c.id %>"><%= c.name %></option>
					<% end %>
				</select>
			</div>
			<%
			#<div class="form-group">
				#<label for="number_of_reviews">Number of Reviews</label>
				#<input type="number" name="number_of_reviews" id="number_of_reviews" class="form-control friendlies">
			#</div>
			%>
			<div class="form-group">
				<label for="free_from">Free Start Date</label>
				<div id="start_date_picker" class="input-group date">
					<input type="text" name="free_from" id="free_from" class="form-control friendlies" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			    </div>
			    <input type="hidden" name="free_start_month" id="free_start_month" value="" class="friendlies"/>
			    <input type="hidden" name="free_start_date" id="free_start_date" value="" class="friendlies"/>
			    <input type="hidden" name="free_start_year" id="free_start_year" value="" class="friendlies"/>
			</div>
			<div class="form-group">
				<label for="free_start_time">Free Start Time</label>
				<div id="start_time_picker" class="input-group time">
					<input type="text" name="start_time" id="start_time" class="form-control" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					<input type="hidden" name="free_start_hour" id="free_start_hour" value="" class="friendlies" />
					<input type="hidden" name="free_start_minute" id="free_start_minute" value="" class="friendlies" />
				</div>
			</div>
			<div class="form-group">
				<label for="free_to">Free End Date</label>
				<div id="end_date_picker" class="input-group date">
					<input type="text" name="free_to" id="free_to" class="form-control friendlies" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
					<input type="hidden" name="free_end_month" id="free_end_month" value="" class="friendlies" />
					<input type="hidden" name="free_end_date" id="free_end_date" value="" class="friendlies" />
					<input type="hidden" name="free_end_year" id="free_end_year" value="" class="friendlies" />
			    </div>
			</div>
			<div class="form-group">
				<label for="free_end_time">Free End Time</label>
				<div id="end_time_picker" class="input-group time">
					<input type="text" name="end_time" id="end_time" class="form-control" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					<input type="hidden" name="free_end_hour" id="free_end_hour" value="" class="friendlies" />
					<input type="hidden" name="free_end_minute" id="free_end_minute" value="" class="friendlies" />
				</div>
				<input type="hidden" name="days_free" id="days_free" value="" class="friendlies" />
				<input type="hidden" name="any_2_digits" id="any_2_digits" value="22" class="friendlies" />
				<input type="hidden" name="three_plus_one_is" id="three_plus_one_is" value="4" class="friendlies" />
			</div>

			<div class="form-group">
				<label for="" id="lbl_asin">ASIN&nbsp;</label><a class="badge author_popover" data-toggle="popover" title="ASIN" data-content="An ASIN, of Amazon Standard Identification Number, is a 10-digit code that is unique to your ebook. It can be found in the 'Product Details' section of your ebook page in the Kindle store.">?</a>
				<input type="text" id="asin" name="asin" class="form-control friendlies" />
			</div>

			<% @friendlies.each do |f| %>
			<div class="form-group">
				<label for='<%= f.field_name %>'><%= "#{f.name}" %></label>
				<% case f.field_type
					when "select"
						#sel_field = Field.where()
						el = "<select name='#{f.field_name}' id='#{f.field_name}' class='friendlies'>"
						#f.field_values.each do |v|
						#	el_options = el_options.concat("<option id='opt_#{v.id}' value='#{v.preset_field_value}'>#{v.preset_field_value}</option>")
						#end
						el_options = "<option id='test' name='test' value='test'>Test option</option>"
						el = el + el_options + "</select>"
					when "textarea"
						el = "<textarea class='form-control friendlies' name='#{f.field_name}' id='#{f.field_name}'></textarea>"
					else
						el = "<input type='#{f.field_type}' name='#{f.field_name}' id='#{f.field_name}' class='form-control friendlies' />"
				end %>

				<%= raw(el) %>
			</div>
		<% end %>
		</div>
		<button type="button" id="save_me" class="form-control btn btn-primary">Save</button>
		<button type="button" id="submit_new" class="form-control btn btn-primary" style="display: none;">Promote Another Book</button>
	</div>
	</form>
</div>

<script type="text/javascript">
	// Global variable declarations.
	var responses_arr = new Array();
	var curr_id = 0;

	function form_object(){
		var form_obj = new Object();
		var categories = new Array();
		var fields = new Array();

		$(".form_category_checkbox").each(function(){
			if ($(this).is(":checked")) {
				categories.push( $(this).val() );
			};
		});

		form_obj.categories = categories;

		$(".friendlies").each(function(){
			var field = new Object();

			switch ( $(this).attr("type") ) {
				case "checkbox":
					field[$(this).attr("id")] = $(this).val();
				break;

				//case "radio":
				//
				//break;

				default:
					field[$(this).attr("id")] = $(this).val();
				break;
			}

			fields.push(field);
		});

		form_obj.fields = fields;

		return form_obj;
	}

	function days_between(dateTo, dateFrom) {
		// The number of milliseconds in one day
		var ONE_DAY = 1000 * 60 * 60 * 24;

		date1 = new Date(dateTo);
		date2 = new Date(dateFrom);

		// Convert both dates to milliseconds
		var date1_ms = date1.getTime();
		var date2_ms = date2.getTime();

		// Calculate the difference in milliseconds
		var difference_ms = Math.abs(date1_ms - date2_ms);

		// Convert back to days and return
		return Math.round(difference_ms / ONE_DAY);
	}

	$(function(){
		// Init tooltips.
		$(".ebook_categories_popover").popover({
			container: "body",
			placement: "right",
			trigger: "hover"
		});

		$(".author_popover").popover({
			container: "body",
			placement: "right",
			trigger: "hover"
		});

		// Init date datepickers.
		$("#start_date_picker").datetimepicker({
			pickTime: false
		});

		$("#end_date_picker").datetimepicker({
			pickTime: false
		});

		// Init date timepickers.
		$("#start_time_picker").datetimepicker({
			pickDate: false
		});

		$("#end_time_picker").datetimepicker({
			pickDate: false
		});

		// Handle date/time picker changes and parse the values into our hidden elements.
		$("#start_date_picker").on("dp.change",function (e) {
			var s_date = new Date(e.date);

			$("#free_start_month").val( s_date.getMonth() + 1 );
			$("#free_start_date").val( s_date.getDate() );
			$("#free_start_year").val( s_date.getFullYear() );

			if ( $("#free_to").val() != null ) {
				s_date = $("#free_from").val();
				e_date = $("#free_to").val();

				$("#days_free").val( days_between(s_date, e_date) );
			};
		});

		$("#start_time_picker").on("dp.change",function (e) {
			var start_time_arr = $("#start_time").val().split(":");

			var hour = start_time_arr[0];
			var min_arr = start_time_arr[1].split(" ");
			var min = min_arr[0];

			$("#free_start_hour").val(hour);
			$("#free_start_minute").val(min);
		});

		$("#end_date_picker").on("dp.change",function (e) {
			var e_date = new Date(e.date);

			$("#free_end_month").val( e_date.getMonth() + 1 );
			$("#free_end_date").val( e_date.getDate() );
			$("#free_end_year").val( e_date.getFullYear() );

			if ( $("#free_from").val() != null ) {
				//s_date = new Date( $("#free_from").val() );
				s_date = $("#free_from").val();
				e_date = $("#free_to").val();
				$("#days_free").val( days_between(s_date, e_date) );
			};
		});

		$("#end_time_picker").on("dp.change",function (e) {
			var end_time_arr = $("#end_time").val().split(":");

			var hour = end_time_arr[0];
			var min_arr = end_time_arr[1].split(" ");
			var min = min_arr[0];

			$("#free_end_hour").val(hour);
			$("#free_end_minute").val(min);
		});

		$("#author_first_name").change(function(){
			$("#author").val( $("#author_first_name").val() + " " + $("#author_last_name").val() );
		});

		$("#author_last_name").change(function(){
			$("#author").val( $("#author_first_name").val() + " " + $("#author_last_name").val() );
		});
		// End parsing for hidden fields.

		// Init the spinner.
		var opts = {
		  lines: 13, // The number of lines to draw
		  length: 20, // The length of each line
		  width: 10, // The line thickness
		  radius: 30, // The radius of the inner circle
		  corners: 1, // Corner roundness (0..1)
		  rotate: 0, // The rotation offset
		  direction: 1, // 1: clockwise, -1: counterclockwise
		  color: '#000', // #rgb or #rrggbb or array of colors
		  speed: 1, // Rounds per second
		  trail: 60, // Afterglow percentage
		  shadow: false, // Whether to render a shadow
		  hwaccel: false, // Whether to use hardware acceleration
		  className: 'spinner', // The CSS class to assign to the spinner
		  zIndex: 2e9, // The z-index (defaults to 2000000000)
		  top: 'auto', // Top position relative to parent in px
		  left:'auto' // Left position relative to parent in px
		};
		//var target = document.getElementById('center_spinner');
		var target = document.getElementById('loader_spinner');
		var spinner = new Spinner(opts).spin(target);

		// Promote another book.
		$("#submit_new").click(function(){
			location.reload();
		});

		// Rules and init for form validator.
		/*$("#ebook_form").bootstrapValidator({
			fields: {
				title: {
					validators: {
						notEmpty: {
							message: "Please enter the name of your book."
						}
					}
				},
				author_first_name: {
					validators: {
						notEmpty: {
							message: "Please enter your first name."
						}
					}
				},
				author_last_name: {
					validators: {
						notEmpty: {
							message: "Please enter your last name."
						}
					}
				},
				author: {
					validators: {
						notEmpty: {
							message: "Please enter your name (or pen name)."
						}
					}
				},
				genre: {
					validators: {
						notEmpty: {
							message: "Please choose a genre for your book."
						}
					}
				},
				free_from: {
					validators: {
						date: {
	                        format: 'MM/DD/YYYY',
	                        message: 'The value is not a valid date.'
                    	},
						notEmpty: {
							message: "Please enter the date your book will start being free."
						}
					}
				},
				free_to: {
					validators: {
						date: {
	                        format: 'MM/DD/YYYY',
	                        message: 'The value is not a valid date.'
                    	},
						notEmpty: {
							message: "Please enter the date your book will stop being free."
						}
					}
				},
				start_time: {
					validators: {
						date: {
	                        format: 'h:m A',
	                        message: 'The value is not a valid time.'
                    	},
						notEmpty: {
							message: "Please enter the time of day your book will start being free."
						}
					}
				},
				end_time: {
					validators: {
						date: {
	                        format: 'h:m A',
	                        message: 'The value is not a valid time.'
                    	},
						notEmpty: {
							message: "Please enter the time of day your book will stop being free."
						}
					}
				},
				<% @friendlies.each do |f| %>
				<%= f.field_name %>: {
					validators: {
						notEmpty: {
							message: "Please enter the <%= f.name %>."
						}
					}
				},
				<% end %>
			}
		});*/
		// End rules and init for form validator.

		// Set up date/time pickers for validation.
		/*$('#start_date_picker')
        .on('dp.change dp.show', function(e) {
            // Validate the date when user change it
            $('#ebook_form')
                // Get the bootstrapValidator instance
                .data('#free_from')
                // Mark the field as not validated, so it'll be re-validated when the user change date
                .updateStatus('#free_from', 'NOT_VALIDATED', null)
                // Validate the field
                .validateField('#free_from');
        });

        $('#end_date_picker')
        .on('dp.change dp.show', function(e) {
            // Validate the date when user change it
            $('#ebook_form')
                // Get the bootstrapValidator instance
                .data('#free_to')
                // Mark the field as not validated, so it'll be re-validated when the user change date
                .updateStatus('#free_from', 'NOT_VALIDATED', null)
                // Validate the field
                .validateField('#free_to');
        });

        $('#start_time_picker')
        .on('dp.change', function(e) {
            // Validate the date when user change it
            $('#ebook_form')
                // Get the bootstrapValidator instance
                .data('#start_time')
                // Mark the field as not validated, so it'll be re-validated when the user change date
                .updateStatus('#start_time', 'NOT_VALIDATED', null)
                // Validate the field
                .validateField('#start_time');
        });

        $('#end_time_picker')
        .on('dp.change', function(e) {
            // Validate the date when user change it
            $('#ebook_form')
                // Get the bootstrapValidator instance
                .data('#end_time')
                // Mark the field as not validated, so it'll be re-validated when the user change date
                .updateStatus('#end_time', 'NOT_VALIDATED', null)
                // Validate the field
                .validateField('#end_time');
        });
		// End validation for date/time pickers.

		// Author element setup.
		$('#author').change(function(e) {
            // Validate the date when user change it
            $('#ebook_form')
                // Get the bootstrapValidator instance
                .data('#author')
                // Mark the field as not validated.
                .updateStatus('#author', 'NOT_VALIDATED', null)
                // Validate the field
                .validateField('#author');
        });*/
		// End author element setup.

		$("#ebook_form").submit(function(e){
			// Prevent form from submitting.
			e.preventDefault();
			return false;
		});

		// If the form is valid, send AJAX to the server.
		$("#save_me").click(function(e){
			// Make sure at least one category has been chosen.
			//$("#ebook_form").data('bootstrapValidator').validate();
			//if ( $("#ebook_form").isValid == true ) {
			if ( $(".form_category_checkbox:checked").length < 1 ) {
				$("#category_required_alert").css("display", "block");
				window.scrollTo(0, 0);
				return false;
			} else {
				// Create a JS object from the form data, and turn it into JSON.
				var form_json = JSON.stringify(form_object());
				
				// Display the spinner modal.
				$("#spinner_modal").modal("toggle");

				// Send AJAX to the server. 
				$.ajax({
					url: '/app/pulse_submitter',
					//url: 'http://localhost:3000/pulse_submitter',
					type: 'post',
					data: form_json,
					contentType: 'application/json',
					datatype: 'json'
					// When a response is received, parse it.
				}).done(function(data){
					// Define preview_ids, so it will be available outside the $.each
					var preview_ids = ""

					// Hide the spinner.
					$("#spinner_modal").modal("toggle");

					// Get the first id element as a point of reference.
					var first_form_id = data[0]["form_id"];

					// Iterate JSON response.
					$.each(data, function(index, element){
						var response_obj = new Object();
						var iframe_id = "preview_" + element["form_id"];

						response_obj.form_id = element["form_id"];
						response_obj.form_name = element["form_name"];
						response_obj.response = element["response"];
						responses_arr.push(response_obj);

						if ( element["form_id"] == first_form_id ) {
							$("#selected_forms").append("<li class='list-group-item active' id='submitted_form_" + element["form_id"] + "'><a target='_BLANK' href='" + element["form_url"] + "'>" + element["form_name"] + "</a></li>");
						} else {
							$("#selected_forms").append("<li class='list-group-item' id='submitted_form_" + element["form_id"] + "'><a target='_BLANK' href='" + element["form_url"] + "'>" + element["form_name"] + "</a></li>");
						};
					});

					// Make the first iFrame preview visible.
					$("#response_preview").contents().find("html").html(responses_arr[curr_id]["response"]);
					$("#submitted_form_" + responses_arr[curr_id]["form_id"] + " a").css("color", "white");
					$("#results_modal").modal("toggle");
				});

				// Don't let the user double-click the "Save" button.
				$("#save_me").css("display", "none");
				$("#submit_new").css("display", "block");

				return false;
				event.returnValue = false;

				// Reset the form.
				$("input").reset();
				$("textarea").reset();
				$("select").reset();
			};
			//};
		});

		// Submission response previewer handlers.
		$("#submission_success_btn").click(function(){
			$("#submitted_form_" + responses_arr[curr_id]["form_id"]).removeClass("active");
			$("#submitted_form_" + responses_arr[curr_id]["form_id"]).removeClass("list-group-item-danger");
			$("#submitted_form_" + responses_arr[curr_id]["form_id"]).addClass("list-group-item-success");
			$("#submitted_form_" + responses_arr[curr_id]["form_id"] + " a").css("color", "");
		});

		$("#submission_failed_btn").click(function(){
			$("#submitted_form_" + responses_arr[curr_id]["form_id"]).removeClass("active");
			$("#submitted_form_" + responses_arr[curr_id]["form_id"]).removeClass("list-group-item-success");
			$("#submitted_form_" + responses_arr[curr_id]["form_id"]).addClass("list-group-item-danger");
			$("#submitted_form_" + responses_arr[curr_id]["form_id"] + " a").css("color", "");
		});

		$("#submission_previous_btn").click(function(){
			if (responses_arr[curr_id]["form_id"] != responses_arr[0]["form_id"]) {
				$("#submitted_form_" + responses_arr[curr_id]["form_id"]).removeClass("active");
				$("#submitted_form_" + responses_arr[curr_id]["form_id"] + " a").css("color", "");

				curr_id = curr_id - 1;
				$("#submitted_form_" + responses_arr[curr_id]["form_id"]).addClass("active");
				$("#submitted_form_" + responses_arr[curr_id]["form_id"] + " a").css("color", "white");
				$("#response_preview").contents().find("html").html(responses_arr[curr_id]["response"]);
			};
		});

		$("#submission_next_btn").click(function(){
			if (responses_arr[curr_id]["form_id"] != responses_arr[responses_arr.length - 1]["form_id"]) {
				$("#submitted_form_" + responses_arr[curr_id]["form_id"]).removeClass("active");
				$("#submitted_form_" + responses_arr[curr_id]["form_id"] + " a").css("color", "");

				curr_id = curr_id + 1;
				$("#submitted_form_" + responses_arr[curr_id]["form_id"]).addClass("active");
				$("#submitted_form_" + responses_arr[curr_id]["form_id"] + " a").css("color", "white");
				$("#response_preview").contents().find("html").html(responses_arr[curr_id]["response"]);
			};
		});
	});
</script>