<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<p class="text-muted">Copyright &copy; 2014. All rights reserved.</p>
			</div>
			<div class="col-md-7">
				<p class="text-muted pull-right" style="text-align: right;">
					<%= link_to "Terms of Service", "http://www.kindletrend.com/terms-and-conditions", :target => "blank" %> &bull; 
					<%= link_to "Helpdesk", "http://www.kindletrend.com/helpdesk", :target => "blank" %> &bull; 
					<%= link_to "Contact Us", "http://www.kindletrend.com/contact-us", :target => "blank" %> &bull;
					<%= link_to "Guarantee", "http://www.kindletrend.com/refund-policy/" %> &bull;
					<%= link_to "Privacy", "http://www.kindletrend.com/privacy-policy/" %> &bull;
					<%= link_to "The Kindle Trend Mission", mission_path %><!-- &bull; -->
					<%#= link_to "FAQ", "#" %>
				</p>
			</div>
		</div>
		</div>
</div>