<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="brand" href="#"><%= image_tag "logo.png", :height => 75 %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <% if user_signed_in? %>
    <ul class="nav navbar-nav">
      <li><%= link_to "How to use #{@friendly_product}", root_path %></li>
      <li><%= link_to "Category Summaries", rollup_path %></li>
      <li><%= link_to "Easy Targets", targets_path %></li>
      <li><%= link_to "Category Tree", categories_path %></li>
      <li><a href="/app/promotions/resources">Resources</a></li>
      <li><a href="https://chrome.google.com/webstore/detail/kindle-trend-chrome/akmahfgfdgchjcoihknfkjhnollokgmd" target="_BLANK">Google Chrome Extension</a></li>
      <!--sup style="color: red;"> * NEW</sup-->
      <%#= link_to "Resources * NEW", promotions_resources_path %>
      <!--li><%#= link_to "Promoting Your Book", "#" %></li-->
      <% if current_user.role == 'sys_admin' || current_user.role == 'jv_admin' || current_user.role == 'partner_admin' %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Control Panel <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <% if current_user.role == 'sys_admin' || current_user.role == 'jv_admin' %><li><%= link_to "Joint Venture Reports", control_panel_users_report_path %></li><% end %>
          <% if current_user.role == 'partner_admin' %><li><%= link_to "Partner Reports", control_panel_users_report_path %></li><% end %>
          <% if current_user.role == 'partner_admin' && current_user.account.partner.partner_type_id == 2 %><li><%= link_to "White Label Admin", whitelabel_admin_path %></li><% end %>
          <% if current_user.role == "sys_admin" %>
            <li class="divider"></li>
            <li><%= link_to "Watches Admin", watches_admin_path %></li>
            <li><%= link_to "Sidekiq Monitor", "/app/automation_queue", target: "BLANK" %></li>
            <li><%= link_to "PHPMyAdmin", "/phpmyadmin", target: "BLANK" %></li>
          <% end %>
          <!--li><a href="#">Account Settings</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li-->
        </ul>
      </li>
      <% end %>
    </ul>
    <% end %>
    <div id="user_nav" class="navbar-right" style="margin-top: 15px;">
      <% if user_signed_in? %>
        <strong><%= current_user.email %></strong>
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%#= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Sign up", subscribe_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>
