<% offers = SpecialOffer.where(active: true) %>
<% unless offers.empty? %>
	<% offers.each do |o| %>
	<div class="alert alert-success fade in" style="position: relative;">
		<button class="close" data-dismiss="alert">×</button>
		<h1><%= o.title %></h1>
		<% unless o.img.blank? %>
			<div class="pull-left">
				<%= image_tag o.img, :height => 100, :style => "margin-right: 15px; border: 1px solid darkgreen;" %>
			</div>
		<% end %>
		<div>
			<p><%= o.desc %></p>
			<div style="padding-bottom: 25px;"></div>
			<%= link_to o.url, :target => "_BLANK" do %>
			<button class="btn btn-success btn-lg pull-right"><%= o.button_text.blank? ? "Learn More" : "#{o.button_text}" %></button>
			<% end %>
		</div>
		<div style="clear: both;"></div>
	</div>
	<% end %>
<% end %>