<% ######################################
#  Can this be extracted and pushed back 
#  into a controller somewhere?

    bestseller = Bestseller.find_by(category_id: params[:category_id])

    if bestseller.blank?
      puts bestseller.id
    end

#  Get title keywords.
    titles = keywords(bestseller.id, "title")
    @titlewords = titles.sort_by {|key, value| -value}
#   End title keywords.

#   Get desc keywords.
    descs = keywords(bestseller.id, "desc")
    @descwords = descs.sort_by {|key, value| -value}
#   End desc keywords.
%>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="panel-title lead">Common Words in Titles</span></div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="bold">Word</th>
            <th>Count</th>
          </tr>
        </thead>
        <% @titlewords.each do |t| %>
          <% if t[1] > 3 %>
          <tr>
            <td><%= t[0] %></td>
            <td><%= t[1] %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div id="common_words" class="col-md-3">
<div class="panel panel-default">
  <div class="panel-heading"><span class="panel-title lead">Common words in description</span></div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <thead>
          <tr>
            <th>Word</th>
            <th>Count</th>
          </tr>
        </thead>
      </tr>
      <% @descwords.each do |d| %>
        <% if d[1] > 24 %>
        <tr>
          <td><%= d[0] %></td>
          <td><%= d[1] %></td>
        </tr>
        <% end %>
      <% end %>
    </table>
    </div>
  </div>
</div>