<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Kindle Store Analyzer</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="<%= "active" if params[:controller] == "dashboard" %>"><%= link_to "Dashboard", "#" %><!--a href="dashboard.html">Dashboard</a--></li>
    	<li class="<%= "active" if params[:controller] == "intelligence" %>"><%= link_to "Intelligence", analytics_intelligence_index_path %><!--a href="intelligence.html">Intelligence</a--></li>
    	<li class="<%= "active" if params[:controller] == "watches" %>"><%= link_to "Watches", "#" %><!--a href="watches.html">Watches</a--></li>
    	<li class="<%= "active" if params[:controller] == "promotions" %>"><%= link_to "Promotions", "#" %><!--a href="promotions.html">Promotions</a--></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>