<div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Forgot your password?</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  						<%= devise_error_messages! %>
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <%= f.email_field :email, :class => "form-control", :placeholder => "email", :autofocus => true %>
                                    </div>
                                
                                <div style="margin:10px 0 0 0;" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <%= f.submit "Email me password reset instructions", :class => "btn btn-success" %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 control" style="margin-top: 10px;">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            I know my login details, and 
										  <%= link_to "want to sign in.", user_session_path %><br />
										  	I don't have an account, and
										  <%#= link_to "want to register.", new_user_registration_path %>
                                          <%= link_to "want to register.", "/app/accounts/subscription" %><br/>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>                     
                    </div>  
        </div>
    </div>