<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>Welcome to <%= @partner_friendly_product %>!</p>

		<p><%= @partner_friendly_product %> gives you the tools to not just see how your preferred niche is served, but to explore how many books are available in the many, many other underserved niches, equipping you to find profitable parallels.</p>

		<p>To get started, visit <a href="https://www.kindletrend.com/app" target="_BLANK">https://www.kindletrend.com/app</a>, and login with the following credentials:<br/>
		<strong>email:</strong> <%= @email %><br/>
		<strong>password:</strong> <%= @password %><br/><br/>
		We suggest that you change your password after you login for the first time. You can do so by clicking the "Edit Profile" link, located next to your email address on the right side of the <%= @partner_friendly_product %> menu bar.</p>

		<p>Thanks for joining <%= @partner_friendly_product %>! If you have any questions or comments, please use our <a href="http://www.kindletrend.com/contact-us/" target="_BLANK">contact form</a> and let us know!</p>

		<p>You're awesome!</p>

		<p>Sincerely,</p>
		The <%= @partner_friendly_product %> Team
	</body>
</html>