<%= render :partial => "partials/nav" %>
<h1>How we estimate sales volume</h1>
<p>Throughout <%= @friendly_product %>, sales volumes are estimated from the Kindle store rank, according to the following table. While not 100% accurate, this is the preferred method of calculation. If you've found a more accurate method of extracting estimated sales volume data from rank, please share and, if it does prove better, we'll implement it on Kindle Trend.</p>
<p>This data has been compiled from <%= link_to "Theresa Ragan's blog", "http://www.theresaragan.com/p/sale-ranking-chart.html" %>, <%= link_to "KDP Calculator", "http://kdpcalculator.com/" %>, and experimentation.</p>
<table class="table table-responsive">
	<thead>
		<tr>
			<th>Bestseller rank</th>
			<th>Daily sales</th>
		</tr>
	</thead>
	<tr>
		<td>50,000 - 100,000</td>
		<td>1 book a day</td>
	</tr>
	<tr>
		<td>10,000 - 49,999</td>
		<td>15 to 25 books a day</td>
	</tr>
	<tr>
		<td>5,500 - 9,999</td>
		<td>15 to 25 books a day</td>
	</tr>
	<tr>
		<td>3,000 - 5,499</td>
		<td>25 to 70 books a day</td>
	</tr>
	<tr>
		<td>1,500 - 2,999</td>
		<td>70 to 100 books a day</td>
	</tr>
	<tr>
		<td>750 - 1,499</td>
		<td>100 to 120 books a day</td>
	</tr>
	<tr>
		<td>500 - 749</td>
		<td>120 to 175 books a day</td>
	</tr>
	<tr>
		<td>350 - 499</td>
		<td>175 to 250 books a day</td>
	</tr>
	<tr>
		<td>200 - 349</td>
		<td>250 to 500 books a day</td>
	</tr>
	<tr>
		<td>35 - 199</td>
		<td>500 to 2,000 books a day</td>
	</tr>
	<tr>
		<td>20 - 35</td>
		<td>2,000 to 3,000 books a day</td>
	</tr>
	<tr>
		<td>5 - 20</td>
		<td>3,000 to 4,000 books a day</td>
	</tr>
	<tr>
		<td>1 - 5</td>
		<td>4,000+ books a day</td>
	</tr>
</table>