<!--link href="https://vjs.zencdn.net/4.9/video-js.css" rel="stylesheet">
<script src="https://vjs.zencdn.net/4.9/video.js"></script-->
<style>
	/* This parent can be any width and height */
	.block {
	  text-align: center;
	    background:#ccc;
	    margin-bottom:10px;
	}
	 
	/* The ghost, nudged to maintain perfect centering */
	.block:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -0.25em; /* Adjusts for spacing */
	}

	/* The element to be centered, can
	   also be of any width and height */ 
	.full_centered {
	  display: inline-block;
	  vertical-align: middle;
	  width: 150px;
	}

	/* Hide video player button */
	/* .vjs-fullscreen-control { display: none; } .vjs-default-skin .vjs-volume-control { margin-right: 20px; } */
	/* Hide video player button */
</style>

<script>
$(function(){
	$('#welcome-video').on('hidden.bs.modal', function () {
  		//var player = videojs('videoPlayerWelcome');
  		//player.pause();
  		var intro_player = document.getElementById("intro_vid");
  		intro_player.pauseVideo();
	});

	$('#category-tree-video').on('hidden.bs.modal', function () {
	  //var player = videojs('videoPlayerCategoryTree');
	  //player.pause();
	  var cat_tree_player = document.getElementById("cat_tree_vid");
	  cat_tree_player.pauseVideo();
	});

	$('#easy-targets-video').on('hidden.bs.modal', function () {
	  //var player = videojs('videoPlayerEasyTargets');
	  //player.pause();
	  var easy_targets_player = document.getElementById("easy_targets_vid");
	  easy_targets_player.pauseVideo();
	});

	$('#take-offs-video').on('hidden.bs.modal', function () {
	  //var player = videojs('videoPlayerCategorySummaries');
	  //player.pause();
	  var take_offs_player = document.getElementById("take_offs_vid");
	  take_offs_player.pauseVideo();
	});

	$('#category-summaries-video').on('hidden.bs.modal', function () {
	  //var player = videojs('videoPlayerTakeOffs');
	  //player.pause();
	  var cat_summaries_player = document.getElementById("cat_summaries_vid");
	  cat_summaries_player.pauseVideo();
	});

	$('#analytics-video').on('hidden.bs.modal', function () {
	  //var player = videojs('videoPlayerAnalytics');
	  //player.pause();
	  var analytics_player = document.getElementById("analytics_vid");
	  analytics_player.pauseVideo();
	});
});
</script>

<%= render :partial => "partials/special_offers" %>
<h1>How to use <%= @friendly_product %>.</h1>
<div class="panel panel-default">
	<div class="panel-heading"><span class="panel-title lead">Introducing <%= @friendly_product %></span></div>
	<div class="panel-body">
		<ul class="nav nav-tabs" id="intro_tabs">
			<li class="active"><a href="#intro_video" data-toggle="tab">Video</a></li>
			<li><a href="#intro_text" data-toggle="tab">Text</a></li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="intro_video">
				<div style="margin: 25px;">
					<div style="float: left; padding-right: 25px;">
					<!--a href="//fast.wistia.net/embed/iframe/d9zj4e07tm?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/a0de329e675386a8c827bb1435898fd312b2afb5.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
					<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script-->
					<a href="#" data-toggle="modal" data-target="#welcome-video"><div class="block" style="background-image: url('https://s3-eu-west-1.amazonaws.com/kindle-trend-videos/production-training/Kindle+Trend+Welcome.jpg'); width: 150px; height: 90px; float: left; background-size: contain;"><span class="glyphicon glyphicon-play full_centered" style="color: darkgray; font-size: 3em; opacity: 0.8;"></span></div></a>
					</div>
					
					<div><%= @friendly_product %> provides detailed analytics about top value niches in Amazon’s Kindle ebook store. Find low competition niches that open the door for easy bestseller status, drill down into exactly how profitable a niche is, and how difficult or easy to break into it might be, and view charts and graphs of many aspects to Kindle bestsellers that are rarely considered (like author gender or the day of the week books are published).</div>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="tab-pane" id="intro_text">
				<p><%= @friendly_product %> provides detailed analytics about top value niches in Amazon’s Kindle ebook store. Find low competition niches that open the door for easy bestseller status, drill down into exactly how profitable a niche is, and how difficult or easy to break into it might be, and view charts and graphs of many aspects to Kindle bestsellers that are rarely considered (like author gender or the day of the week books are published).</p>

				<h2>Who is <%= @friendly_product %> for?</h2>
				<ul>
					<li>People who want to market their books in the Kindle ebook store</li>
					<li>People who want to position themselves as experts in their field, influencers, or thought leaders</li>
					<li>Professional writings who need to maximize profit potential for every book they write</li>
				</ul>
				<h2>Why <%= @friendly_product %>?</h2>
				<ul>
					<li>Figuring out what to write is really hard.</li>
					<li>The current tools still leave you with a lot of guess work.</li>
					<li>Aggregating data is a long and tedious task.</li>
				</ul>

				<h2>Tools</h2>
				<ul>
					<li>Category Tree
						<ul><li>Visibility into the structure of categories (i.e. niches) in the Kindle store</li></ul>
					</li>
					<li>Easy Targets
						<ul><li>Find categories with less than the maximum number of books for the bestseller list, allowing you to break in incredibly easily</li></ul>
					</li>
					<li>Category Summaries
						<ul><li>High-level data that lets you see demand, competition, and potential profitability at a glance</li></ul>
						<ul>
							<li>Take Offs
							<ul><li>Details what it will take to break in as a bestseller in this category, and what you can expect when you do.</li></ul>
							</li>
							<li>Analytics
							<ul><li>Detailed data about all possible nuances of a given category. Exactly the information needed to tailor your book into a bestseller.</li></ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><span class="panel-title lead">Category Tree</span></div>
	<div class="panel-body">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="category_tree_tabs">
		  <li class="active"><a href="#category_tree_video" data-toggle="tab">Video</a></li>
		  <li><a href="#category_tree_text" data-toggle="tab">Text</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="category_tree_video">
		  	
		  	<div style="margin: 25px;">
		        <div style="float: left; padding-right: 25px;">
		        	<!--a href="//fast.wistia.net/embed/iframe/zafm7errp8?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/e9c5e25099ccd69c78e0bbca2d21819d3dc5966a.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
					<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script-->
					<a href="#" data-toggle="modal" data-target="#category-tree-video"><div class="block" style="background-image: url('https://s3-eu-west-1.amazonaws.com/kindle-trend-videos/production-training/Kindle+Trend+-+Category+Tree.jpg'); width: 150px; height: 90px; float: left; background-size: contain;"><span class="glyphicon glyphicon-play full_centered" style="color: darkgray; font-size: 3em; opacity: 0.8;"></span></div></a>
				</div>
				<div>The category tree is the top-level categories (they're the main categories that you see when you visit the Kindle store), and the number of titles available in that category. When you select a category, you get a map of all the categories that are within the top level, along with the number of titles available for each...</div>
				<div style="clear: both;"></div>
			</div>
		  </div>
		  <div class="tab-pane" id="category_tree_text">
			<h1>Category Tree</h1>
			<h2>What is it?</h2>
			<p>The category tree is the top-level categories (they're the main categories that you see when you visit the Kindle store), and the number of titles available in that category. When you select a category, you get a map of all the categories that are within the top level, along with the number of titles available for each.</p>
			<h2>What should it be used for?</h2>
			<p>Assessing competition and opportunity for a given category.
			If you're already in a top-level category, the category tree will enable you to assess niches in which you can maximize your books performance.</p>
			<h2>Breakdown</h2>
			<p>Seeing the big picture of for a category in the Kindle store enables you to make better decisions about how to categorize your own books, and which categories are going to enable you to move into the bestseller list.</p>
		  </div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><span class="panel-title lead">Easy Targets</span></div>
	<div class="panel-body">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="easy_targets_tabs">
		  <li class="active"><a href="#easy_targets_video" data-toggle="tab">Video</a></li>
		  <li><a href="#easy_targets_text" data-toggle="tab">Text</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="easy_targets_video">
				<div style="margin: 25px;">
					<div style="float: left; padding-right: 25px;">
						<!--a href="//fast.wistia.net/embed/iframe/akls986as0?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/c45b784b7e4048fa2fb127e13b85c15609422a03.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
						<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script-->
						<a href="#" data-toggle="modal" data-target="#easy-targets-video"><div class="block" style="background-image: url('https://s3-eu-west-1.amazonaws.com/kindle-trend-videos/production-training/Kindle+Trend+-+Easy+Targets.jpg'); width: 150px; height: 90px; float: left; background-size: contain;"><span class="glyphicon glyphicon-play full_centered" style="color: darkgray; font-size: 3em; opacity: 0.8;"></span></div></a>
					</div>
					<div>The Easy Targets tool is a list of categories that have less than the maximum (100) number of books allowed into a bestseller list. You can simple scroll the list and browse the thousands of categories that fit this description or, if you already have books in the Kindle store and want to get on a bestseller list, you can use the filter tool to find the best categories for your book.</div>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="tab-pane" id="easy_targets_text">
				<h2>What is it?</h2>
				<p>The Easy Targets tool is a list of categories that have less than the maximum (100) number of books allowed into a bestseller list. You can simple scroll the list and browse the thousands of categories that fit this description or, if you already have books in the Kindle store and want to get on a bestseller list, you can use the filter tool to find the best categories for your book.</p>
				<h1>What should it be used for?</h1>
				<p>Moving into the top 100 list for a paid Kindle category (versus the top 100 free list). This will NOT necessarily mean you're selling more copies of your book, and most of the time you won't. What this DOES do for you is enable you to position yourself as a bestseller, and build your reputation as an expert, influencer, and thought leader.</p>
				<h1>Breakdown</h1>
				<p>The Kindle store has a massive number of categories with less than 100 books in them, making it easy to break into the top 100 bestsellers for that category. While this won't make you rich, it can be leveraged as a tool to build your influence, and reputation as an expert.</p>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><span class="panel-title lead">Category Summaries</span></div>
	<div class="panel-body">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="category_summaries_tabs">
		  <li class="active"><a href="#category_summaries_video" data-toggle="tab">Video</a></li>
		  <li><a href="#category_summaries_text" data-toggle="tab">Text</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="category_summaries_video">
				<div style="margin: 25px;">
					<div style="float: left; padding-right: 25px;">
						<!--a href="//fast.wistia.net/embed/iframe/929v7qozo7?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/235422ef9e140d0504e4e3aa30e8bb77dad8efff.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
						<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script-->
						<a href="#" data-toggle="modal" data-target="#category-summaries-video"><div class="block" style="background-image: url('https://s3-eu-west-1.amazonaws.com/kindle-trend-videos/production-training/Kindle+Trend+-+Category+Summaries.jpg'); width: 150px; height: 90px; float: left; background-size: contain;"><span class="glyphicon glyphicon-play full_centered" style="color: darkgray; font-size: 3em; opacity: 0.8;"></span></div></a>
					</div>
					<div>
						<p>A rollup of 19 data points, summarized as a high-level report. In a nutshell, the Category Summaries are your window into are most competitive, and have the most potential for profit.</p>
				<p>The Category Summaries are also the launching point for the Take Offs and Analytics tools, arguably the most valuable offerings in the <%= @friendly_product %> toolbox.</p>
				<p>The Category Summaries are not simply a look at the lowest (#100) and highest (#1) selling books in a category. This tool breaks data down into discrete data points and presents you with the statistical averages...</p>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div class="tab-pane" id="category_summaries_text">
				<h2>What is it?</h2>
				<p>A rollup of 19 data points, summarized as a high-level report. In a nutshell, the Category Summaries are your window into are most competitive, and have the most potential for profit.</p>
				<p>The Category Summaries are also the launching point for the Take Offs and Analytics tools, arguably the most valuable offerings in the <%= @friendly_product %> toolbox.</p>
				<p>The Category Summaries are not simply a look at the lowest (#100) and highest (#1) selling books in a category. This tool breaks data down into discrete data points and presents you with the statistical averages.</p>

				<h2>Tools</h2>
				<ul>
					<li># Children - how many niches are there for me to place my book in?</li>
					<li># Books in the Category - how much competition is there in this category?</li>
					<li>Est. Daily Sales - what's the average number of books a top 100 title sells in this category?</li>
					<li>Est. Monthly Income</li>
					<li>Max Est. Daily Sales</li>
					<li>Max Est. Monthly Income</li>
					<li>Min Est. Daily Sales</li>
					<li>Min Est. Monthly Income</li>
					<li>Sorting
						<ul><li>Depending on your needs as an author and/or marketing, you can filter Category Summary columns to emphasize your needs.</li></ul>
					</li>
					<li>Filtering
						<ul><li>Focus on the data you want using the text search tool</li></ul>
					</li>
				</ul>

				<h2>What should it be used for?</h2>
				<p>The Category Summaries tool gives you the information you need to determine the strategic and financial value of a category to you, and the level of difficulty you might face breaking into the top 100 bestsellers list.</p>

				<h2>Breakdown</h2>
				<p>Category Summaries allow you to look at key decision making data, sorted and filtered to suit your specific needs. Once you have identified categories of interest, it is also the launching point for the Take off and Analytics tools.</p>

				<h2>Take offs</h2>
				<p>Additionally, the Take offs and Analytics tools are both launched from the Category Summaries. To access the Take offs for a given category, click the airplane icon at the right side of that category's row.</p>

				<h2>Analytics</h2>
				<p>Additionally, the Take offs and Analytics tools are both launched from the Category Summaries. When you're ready to open the Analytics tool for a given category, click the chart icon at the right side of that category's row.</p>
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading"><span class="panel-title lead">Take Offs</span></div>
			<div class="panel-body">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" id="take_offs_tabs">
				  <li class="active"><a href="#take_offs_video" data-toggle="tab">Video</a></li>
				  <li><a href="#take_offs_text" data-toggle="tab">Text</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="take_offs_video">
						<div style="margin: 25px;">
							<div style="float: left; padding-right: 25px;">
								<!--a href="//fast.wistia.net/embed/iframe/s0pi4oxnyg?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/8b10342bb7d3ae8559ed98e51c9086137c8faff0.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
								<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script-->
								<a href="#" data-toggle="modal" data-target="#take-offs-video"><div class="block" style="background-image: url('https://s3-eu-west-1.amazonaws.com/kindle-trend-videos/production-training/Kindle+Trend+-+Take+Offs.jpg'); width: 150px; height: 90px; float: left; background-size: contain;"><span class="glyphicon glyphicon-play full_centered" style="color: darkgray; font-size: 3em; opacity: 0.8;"></span></div></a>
							</div>
							<div>
								<p>The Take Offs tool is a high-level summary of exactly what it takes to break into the bestsellers list for a specific category, and what you can expect as a result of it. Specifically, it answers the questions of "How many books will I have to sell per day to get into X position on the bestseller list?" and "How much money can I expect to make with the X bestseller?"...</p>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div class="tab-pane" id="take_offs_text">
						<h2>What is it?</h2>
						<p>The Take Offs tool is a high-level summary of exactly what it takes to break into the bestsellers list for a specific category, and what you can expect as a result of it. Specifically, it answers the questions of "How many books will I have to sell per day to get into X position on the bestseller list?" and "How much money can I expect to make with the X bestseller?"</p>

						<h2>What should it be used for?</h2>
						<p>Analysis of your chosen category, and a gauge of the difficulty in entering and climbing the bestseller charts for that category.</p>

						<h2>Breakdown</h2>
						<p>When you're looking for details about how to get into a bestseller list and, once you're there how to "level up" to the next page, the Take Offs tool is an excellent way to assess this.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading"><span class="panel-title lead">Analytics</span></div>
			<div class="panel-body">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" id="analytics_tabs">
				  <li class="active"><a href="#analytics_video" data-toggle="tab">Video</a></li>
				  <li><a href="#analytics_text" data-toggle="tab">Text</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="analytics_video">
						<div style="margin: 25px;">
							<div style="float: left; padding-right: 25px;">
								<!--a href="//fast.wistia.net/embed/iframe/2znx03fy1y?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/7f2556d459362343a65a54aa131447acbd8e6bce.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
								<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script-->
								<a href="#" data-toggle="modal" data-target="#analytics-video"><div class="block" style="background-image: url('https://s3-eu-west-1.amazonaws.com/kindle-trend-videos/production-training/Kindle+Trend+-+Analytics.jpg'); width: 150px; height: 90px; float: left; background-size: contain;"><span class="glyphicon glyphicon-play full_centered" style="color: darkgray; font-size: 3em; opacity: 0.8;"></span></div></a>
							</div>
							<div>
								<p>The Analytics tool gives you a detailed drill down of statistical data for your chosen category. With this information, you can build a rich profile of what a bestselling author, and bestselling book, looks like, giving you what you need to know in order to duplicate that success.</p>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div class="tab-pane" id="analytics_text">
						<h2>What is it?</h2>
						<p>The Analytics tool gives you a detailed drill down of statistical data for your chosen category. With this information, you can build a rich profile of what a bestselling author, and bestselling book, looks like, giving you what you need to know in order to duplicate that success.</p>

						<p>The following metrics are measured in the Analytics tool:</p>
						<ul>
							<li>Average Rating</li>
							<li>Child Categories</li>
							<li>Estimated Author Gender</li>
							<li>Statistics</li>
							<li>
								<ul><li>Mean</li></ul>
							</li>
							<li>
								<ul><li>Median</li></ul>
							</li>
							<li>
								<ul><li>Ceiling</li></ul>
							</li>
							<li>
								<ul><li>Floor</li></ul>
							</li>
							<li>Common Words in Titles</li>
							<li>Common Words in Desc</li>
							<li>
								<ul><li>Keyword search</li></ul>
							</li>
							<li>Books Polled</li>
							<li>Publication Date</li>
							<li>Day of the Week Published</li>
							<li>Independent vs. Company Published</li>
							<li>Categories that books also appear in</li>
						</ul>

						<h2>What should it be used for?</h2>
						<p>The Analytics tool is your window into the heart of a bestseller for your chosen category. It gives you the information you need in order to model your book after the profile of current bestsellers.</p>
						<p>Use the Analytics tool, once you've chosen your book category, to understand it in depth.</p>

						<h2>Breakdown</h2>
						<p>When you've got a category chosen, or you've narrowed it down to a few and need further details, the Analytics tool gives you a rich profile of the categories of interest.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Video modals -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="welcomeVideo" aria-hidden="true" id="welcome-video">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Introduction</h4>
      	</div>
      	<div class="modal-body">
			<!--video id="videoPlayerWelcome" class="video-js vjs-default-skin" controls
			preload="auto" width="800" height="450" poster="https://s3-eu-west-1.amazonaws.com/kindle-trend-videos/production-training/Kindle+Trend+Welcome.jpg"
			data-setup='{}' style="margin: 0 auto; width: 800px; border: 1px solid darkgray;">
				<source src="https://s3-eu-west-1.amazonaws.com/kindle-trend-videos/production-training/Kindle+Trend+Welcome.flv" type='video/flv'>
				<source src="https://s3-eu-west-1.amazonaws.com/kindle-trend-videos/production-training/Kindle+Trend+Welcome.mp4" type='video/mp4'>
				<p class="vjs-no-js">
				To view this video please enable JavaScript, and consider upgrading to a web browser
				that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
				</p>
			</video-->
			<embed id="intro_vid" style="margin: 0 auto; width: 800px; border: 1px solid darkgray;" width="800px" height="450px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#000000" name="my-video" style="" src="https://www.youtube.com/v/EI-Pae8vVBI?enablejsapi=1&version=3&playerapiid=ytplayer" type="application/x-shockwave-flash" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="categoryTreeVideo" aria-hidden="true" id="category-tree-video">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Category Tree</h4>
      	</div>
      	<div class="modal-body">
			<embed id="cat_tree_vid" style="margin: 0 auto; width: 800px; border: 1px solid darkgray;" width="800px" height="450px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#000000" name="my-video" style="" src="https://www.youtube.com/v/zemdcgs9wOk?enablejsapi=1&version=3&playerapiid=ytplayer" type="application/x-shockwave-flash" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="easyTargetsVideo" aria-hidden="true" id="easy-targets-video">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Easy Targets</h4>
      	</div>
      	<div class="modal-body">
			<embed id="easy_targets_vid" width="800px" height="450px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#000000" name="my-video" style="" src="https://www.youtube.com/v/Qzwd9FrL4yw?enablejsapi=1&version=3&playerapiid=ytplayer" type="application/x-shockwave-flash" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="categorySummariesVideo" aria-hidden="true" id="category-summaries-video">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Category Summaries</h4>
      	</div>
      	<div class="modal-body">
			<embed id="cat_summaries_vid" width="800px" height="450px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#000000" name="my-video" style="" src="https://www.youtube.com/v/rcGaab5AOXM?enablejsapi=1&version=3&playerapiid=ytplayer" type="application/x-shockwave-flash" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="takeOffsVideo" aria-hidden="true" id="take-offs-video">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Take Offs</h4>
      	</div>
      	<div class="modal-body">
			<embed id="take_offs_vid" width="800px" height="450px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#000000" name="my-video" style="" src="https://www.youtube.com/v/36mJUVAaZ5M?enablejsapi=1&version=3&playerapiid=ytplayer" type="application/x-shockwave-flash" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="analyticsVideo" aria-hidden="true" id="analytics-video">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Analytics</h4>
      	</div>
      	<div class="modal-body">
			<embed id="analytics_vid" width="800px" height="450px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#000000" name="my-video" style="" src="https://www.youtube.com/v/OAh57WLFCAA?enablejsapi=1&version=3&playerapiid=ytplayer" type="application/x-shockwave-flash" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
    </div>
  </div>
</div>
<!-- End video modals -->