<h1>The <%= @friendly_product %> Mission</h1>
<div class="container">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title lead"><%= @friendly_product %>'s mission is simple:</div>
			</div>
			<div class="panel-body">
				<h4>Provide writers and marketers the information they need to achieve their goals in the Amazon Kindle store, without being scammy, spammy, or unethical.</h4>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title lead"><%= @friendly_product %> values:</div>
			</div>
			<div class="panel-body">
				<h4>We believe in the value of information, and its equal exchange for payment. We work hard to ensure that the information we provide is valuable and relevant.</h4>
				<h4>If you believe there is something we can do to make our service better, or that we charge too much, or too little, please contact us and share your thoughts.</h4>
			</div>
		</div>
	</div>
</div>