<h1><%= current_user.role == "partner_admin" ? "Strategic Partner Report" : "JV Users Report" %></h1>
<h3><%= @start_date.blank? ? "#{Date::today.strftime('%B')}, #{@year}" : "From #{@start_date.strftime('%B %d, %Y')} To #{@end_date.strftime('%B %d, %Y')}" %></h3>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6"><h3 class="panel-title lead">Users</h3></div>
				<div class="col-md-6"><button class="btn btn-default pull-right" id="settings_bttn" type="button"><span class="glyphicon glyphicon-cog"></span></button></div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<form class="form-inline" id="settings_form" role="form" style="display:none;">
			<div class="well well-sm">
				<div class="form-group" style="padding-left: 25px;">
					Show Current Month Only&nbsp;
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary<%= " active" if @start_date.blank? || (@month.blank? && @start_date.blank?) %>">
							<input type="radio" name="current_month_toggle" id="current_month_on" value="on"<%= " checked" if @start_date.blank? || (@month.blank? && @start_date.blank?) %>> On
						</label>
						<label class="btn btn-primary<%= " active" unless @start_date.blank? || (@start_date.blank? && @month.blank?) %>">
							<input type="radio" name="current_month_toggle" value="off" id="current_month_off"<%= " checked" unless @start_date.blank? || (@start_date.blank? && @month.blank?) %>> Off
						</label>
					</div>
					<div class="form-group" style="padding-left: 25px;">
						<button class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
			<div id="date_container"<%= raw(" style=\"display: none;\"") if @start_date.blank? || (@start_date.blank? && @month.blank?) %>>
				<% for x in 1..2 do %>
				<div class="well well-sm">
					<h3><%= x == 1 ? "Start" : "End" %> Month</h3>
					<div class="form-group" style="padding-left: 25px;">
					Month:
					<select name="<%= x == 1 ? "start" : "end" %>_month" id="<%= x == 1 ? "start" : "end" %>_month" class="form-control">
						<option value="01">Jan</option>
						<option value="02">Feb</option>
						<option value="03">Mar</option>
						<option value="04">Apr</option>
						<option value="05">May</option>
						<option value="06">Jun</option>
						<option value="07">Jul</option>
						<option value="08">Aug</option>
						<option value="09">Sep</option>
						<option value="10">Oct</option>
						<option value="11">Nov</option>
						<option value="12">Dec</option>
					</select>
					</div>
				
					<div class="form-group" style="padding-left: 25px;">
						Year:
						<select name="<%= x == 1 ? "start" : "end" %>_year" id="<%= x == 1 ? "start" : "end" %>_year" class="form-control">
							<option value="2014">2014</option>
						</select>
					</div>
				</div>
				<% end %>
			</div>
		</form>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Email</th>
				<th>Status</th>
				<th>Payment Processor</th>
				<th>Account Created</th>
				<th>Account Updated</th>
			</tr>
		</thead>
		<% @users.each do |user| %>
		<tr>
			<td>
				<a href="" data-toggle="modal" data-target="#modal_<%= user.id %>"><span class="glyphicon glyphicon-pencil" title="Edit User"></span></a>
				<div class="modal fade" id="modal_<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="modal_label_<%= user.id %>" aria-hidden="true">
					<form id="update_user_<%= user.id %>" method="post" action="user_update">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					        <h4 class="modal-title" id="modal_label_<%= user.id %>">Edit user</h4>
					      </div>
					      <div class="modal-body">
					        <h2><%= user.account.customer_name %></h2>
					        <div class="form-group">
					        	<input type="hidden" name="user_id" id="user_id" value="<%= user.id %>" />
					        	<label for="email" id="email_lbl">Email:</label>
					        	<input type="text" name="email" id="email" value="<%= user.email %>" class="form-control" placeholder="email@example.com" />
					        </div>
					        
					        <p>
								<label id="user_entitlements_lbl">Account status:</label><br/>
						        <div class="btn-group" data-toggle="buttons">
						        	<label class="btn btn-primary<% if user.account.status == "unverified" %> active<% end %>">
						        		<input type="radio" name="user_status" id="user_status_unverified" class="form-control" value="unverified"<% if user.account.status == "unverified" %> checked<% end %>/>&nbsp;Unverified
						        	</label>
						        	<label class="btn btn-primary<% if user.account.status == "approved" %> active<% end %>">
						        		<input type="radio" name="user_status" id="user_status_approved" class="form-control" value="approved"<% if user.account.status == "approved" %> checked<% end %> />&nbsp;Approved
						        	</label>
						        	<label class="btn btn-primary<% if user.account.status == "frozen" %> active<% end %>">
						        		<input type="radio" name="user_status" id="user_status_frozen" class="form-control" value="frozen"<% if user.account.status == "frozen" %> checked<% end %> />&nbsp;Frozen
						        	</label>
						        	<label class="btn btn-primary<% if user.account.status == "cancelled" %> active<% end %>">
						        		<input type="radio" name="user_status" id="user_status_cancelled" class="form-control" value="cancelled"<% if user.account.status == "cancelled" %> checked<% end %> />&nbsp;Cancelled
						        	</label>
						        </div>
					        </p>

							<div>
						        <label id="user_entitlements_lbl">User entitlements:</label><br/>
						        <div class="btn-group" data-toggle="buttons">
						        	<label class="btn btn-primary<% if user.account.admin == nil && user.account.exempt == nil %> active<% end %>">
						        		<input type="radio" name="user_entitlements" id="user_entitlements_none" class="form-control" value="none"<% if user.account.admin == nil && user.account.exempt == nil %> checked<% end %>/>&nbsp;None
						        	</label>
						        	<label class="btn btn-primary<% if user.account.admin == true %> active<% end %>">
						        		<input type="radio" name="user_entitlements" id="user_entitlements_admin" class="form-control" value="admin"<% if user.account.admin == true %> checked<% end %> />&nbsp;Account Administrator
						        	</label>
						        	<label class="btn btn-primary<% if user.account.exempt == true %> active<% end %>">
						        		<input type="radio" name="user_entitlements" id="user_entitlements_exempt" class="form-control" value="exempt"<% if user.account.exempt == true %> checked<% end %> />&nbsp;Free Account
						        	</label>
						        </div>
					        </div>

					        <%# <div class="change_password">
					        	<h3>Change password</h3>
					        	<label for="" id="change_password_lbl">New password:</label>
					        	<input type="password" name="change_password" id="change_password" class="form-control" />
					        	<label for="" id="verify_password">Verify password:</label>
					        	<input type="password" name="verify_password" id="verify_password" class="form-control" />
					        </div> %>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button class="btn btn-primary">Save changes</button>
					      </div>
					    </div>
					  </div>
					</form>
				</div>
			</td>
			<td><%= user.account.customer_name %></td>
			<td><%= user.email %></td>
			<td><%= user.account.status %></td>
			<td><%= user.account.payment_processor %></td>
			<td><%= user.created_at.strftime("%B %d, %Y") %></td>
			<td><%= user.updated_at.strftime("%B %d, %Y") %></td>
		</tr>
		<% end %>
	</table>
</div>

<% if @exemptions.count > 0 %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title lead">Exempt/Test Accounts</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Email</th>
					<th>Status</th>
					<th>Payment Processor</th>
					<th>Account Created</th>
					<th>Account Updated</th>
				</tr>
				<% @exemptions.each do |exempt| %>
				<tr>
					<td>
						<a href="" data-toggle="modal" data-target="#modal_<%= exempt.id %>"><span class="glyphicon glyphicon-pencil" title="Edit User"></span></a>
						<div class="modal fade" id="modal_<%= exempt.id %>" tabindex="-1" role="dialog" aria-labelledby="modal_label_<%= exempt.id %>" aria-hidden="true">
							<form id="update_user_<%= exempt.id %>" method="post" action="user_update">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							        <h4 class="modal-title" id="modal_label_<%= exempt.id %>">Edit user</h4>
							      </div>
							      <div class="modal-body">
							        <h2><%= exempt.account.customer_name %></h2>
							        <div class="form-group">
							        	<input type="hidden" name="user_id" id="user_id" value="<%= exempt.id %>" />
							        	<label for="email" id="email_lbl">Email:</label>
							        	<input type="text" name="email" id="email" value="<%= exempt.email %>" class="form-control" placeholder="email@example.com" />
							        </div>
							        
							        <p>
										<label id="user_entitlements_lbl">Account status:</label><br/>
								        <div class="btn-group" data-toggle="buttons">
								        	<label class="btn btn-primary<% if exempt.account.status == "unverified" %> active<% end %>">
								        		<input type="radio" name="user_status" id="user_status_unverified" class="form-control" value="unverified"<% if exempt.account.status == "unverified" %> checked<% end %>/>&nbsp;Unverified
								        	</label>
								        	<label class="btn btn-primary<% if exempt.account.status == "approved" %> active<% end %>">
								        		<input type="radio" name="user_status" id="user_status_approved" class="form-control" value="approved"<% if exempt.account.status == "approved" %> checked<% end %> />&nbsp;Approved
								        	</label>
								        	<label class="btn btn-primary<% if exempt.account.status == "frozen" %> active<% end %>">
								        		<input type="radio" name="user_status" id="user_status_frozen" class="form-control" value="frozen"<% if exempt.account.status == "frozen" %> checked<% end %> />&nbsp;Frozen
								        	</label>
								        	<label class="btn btn-primary<% if exempt.account.status == "cancelled" %> active<% end %>">
								        		<input type="radio" name="user_status" id="user_status_cancelled" class="form-control" value="cancelled"<% if exempt.account.status == "cancelled" %> checked<% end %> />&nbsp;Cancelled
								        	</label>
								        </div>
							        </p>

									<div>
								        <label id="user_entitlements_lbl">User entitlements:</label><br/>
								        <div class="btn-group" data-toggle="buttons">
								        	<label class="btn btn-primary<% if exempt.account.admin == nil && exempt.account.exempt == nil %> active<% end %>">
								        		<input type="radio" name="user_entitlements" id="user_entitlements_none" class="form-control" value="none"<% if exempt.account.admin == nil && exempt.account.exempt == nil %> checked<% end %>/>&nbsp;None
								        	</label>
								        	<label class="btn btn-primary<% if exempt.account.admin == true %> active<% end %>">
								        		<input type="radio" name="user_entitlements" id="user_entitlements_admin" class="form-control" value="admin"<% if exempt.account.admin == true %> checked<% end %> />&nbsp;Account Administrator
								        	</label>
								        	<label class="btn btn-primary<% if exempt.account.exempt == true %> active<% end %>">
								        		<input type="radio" name="user_entitlements" id="user_entitlements_exempt" class="form-control" value="exempt"<% if exempt.account.exempt == true %> checked<% end %> />&nbsp;Free Account
								        	</label>
								        </div>
							        </div>

							        <%# <div class="change_password">
							        	<h3>Change password</h3>
							        	<label for="" id="change_password_lbl">New password:</label>
							        	<input type="password" name="change_password" id="change_password" class="form-control" />
							        	<label for="" id="verify_password">Verify password:</label>
							        	<input type="password" name="verify_password" id="verify_password" class="form-control" />
							        </div> %>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        <button class="btn btn-primary">Save changes</button>
							      </div>
							    </div>
							  </div>
							</form>
						</div>
					</td>
					<td><%= exempt.account.customer_name %></td>
					<td><%= exempt.email %></td>
					<td><%= exempt.account.status %></td>
					<td><%= exempt.account.payment_processor %></td>
					<td><%= exempt.created_at.strftime("%B %d, %Y") %></td>
					<td><%= exempt.updated_at.strftime("%B %d, %Y") %></td>
				</tr>
				<% end %>
			</thead>
		</table>
	</div>
</div>
<% end %>

<% if @admins.count > 0 %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title lead">Account Administrators</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Email</th>
					<th>Status</th>
					<th>Payment Processor</th>
					<th>Account Created</th>
					<th>Account Updated</th>
				</tr>
				<% @admins.each do |admin| %>
				<tr>
					<td>
						<a href="" data-toggle="modal" data-target="#modal_<%= admin.id %>"><span class="glyphicon glyphicon-pencil" title="Edit User"></span></a>
						<div class="modal fade" id="modal_<%= admin.id %>" tabindex="-1" role="dialog" aria-labelledby="modal_label_<%= admin.id %>" aria-hidden="true">
							<form id="update_user_<%= admin.id %>" method="post" action="user_update">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							        <h4 class="modal-title" id="modal_label_<%= admin.id %>">Edit user</h4>
							      </div>
							      <div class="modal-body">
							        <h2><%= admin.account.customer_name %></h2>
							        <div class="form-group">
							        	<input type="hidden" name="user_id" id="user_id" value="<%= admin.id %>" />
							        	<label for="email" id="email_lbl">Email:</label>
							        	<input type="text" name="email" id="email" value="<%= admin.email %>" class="form-control" placeholder="email@example.com" />
							        </div>
							        
							        <p>
										<label id="user_entitlements_lbl">Account status:</label><br/>
								        <div class="btn-group" data-toggle="buttons">
								        	<label class="btn btn-primary<% if admin.account.status == "unverified" %> active<% end %>">
								        		<input type="radio" name="user_status" id="user_status_unverified" class="form-control" value="unverified"<% if admin.account.status == "unverified" %> checked<% end %>/>&nbsp;Unverified
								        	</label>
								        	<label class="btn btn-primary<% if admin.account.status == "approved" %> active<% end %>">
								        		<input type="radio" name="user_status" id="user_status_approved" class="form-control" value="approved"<% if admin.account.status == "approved" %> checked<% end %> />&nbsp;Approved
								        	</label>
								        	<label class="btn btn-primary<% if admin.account.status == "frozen" %> active<% end %>">
								        		<input type="radio" name="user_status" id="user_status_frozen" class="form-control" value="frozen"<% if admin.account.status == "frozen" %> checked<% end %> />&nbsp;Frozen
								        	</label>
								        	<label class="btn btn-primary<% if admin.account.status == "cancelled" %> active<% end %>">
								        		<input type="radio" name="user_status" id="user_status_cancelled" class="form-control" value="cancelled"<% if admin.account.status == "cancelled" %> checked<% end %> />&nbsp;Cancelled
								        	</label>
								        </div>
							        </p>

									<div>
								        <label id="user_entitlements_lbl">User entitlements:</label><br/>
								        <div class="btn-group" data-toggle="buttons">
								        	<label class="btn btn-primary<% if admin.account.admin == nil && admin.account.exempt == nil %> active<% end %>">
								        		<input type="radio" name="user_entitlements" id="user_entitlements_none" class="form-control" value="none"<% if admin.account.admin == nil && admin.account.exempt == nil %> checked<% end %>/>&nbsp;None
								        	</label>
								        	<label class="btn btn-primary<% if admin.account.admin == true %> active<% end %>">
								        		<input type="radio" name="user_entitlements" id="user_entitlements_admin" class="form-control" value="admin"<% if admin.account.admin == true %> checked<% end %> />&nbsp;Account Administrator
								        	</label>
								        	<label class="btn btn-primary<% if admin.account.exempt == true %> active<% end %>">
								        		<input type="radio" name="user_entitlements" id="user_entitlements_exempt" class="form-control" value="exempt"<% if admin.account.exempt == true %> checked<% end %> />&nbsp;Free Account
								        	</label>
								        </div>
							        </div>

							        <%# <div class="change_password">
							        	<h3>Change password</h3>
							        	<label for="" id="change_password_lbl">New password:</label>
							        	<input type="password" name="change_password" id="change_password" class="form-control" />
							        	<label for="" id="verify_password">Verify password:</label>
							        	<input type="password" name="verify_password" id="verify_password" class="form-control" />
							        </div> %>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        <button class="btn btn-primary">Save changes</button>
							      </div>
							    </div>
							  </div>
							</form>
						</div>
					</td>
					<td><%= admin.account.customer_name %></td>
					<td><%= admin.email %></td>
					<td><%= admin.account.status %></td>
					<td><%= admin.account.payment_processor %></td>
					<td><%= admin.created_at.strftime("%B %d, %Y") %></td>
					<td><%= admin.updated_at.strftime("%B %d, %Y") %></td>
				</tr>
				<% end %>
			</thead>
		</table>
	</div>
</div>
<% end %>