<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <table class="table table-bordered">
      <tr class="info">
        <% for w in 1..30 do %>
        <td align="center" style="padding: 8px;"><%= w %></td>
        <% end %>
      </tr>
      <tr>
        <% for w in 1..30 do %>
        <td><%= @watches_arr[w] %></td>
        <% end %>
      </tr>
    </table>

    <table class="table table-bordered" style="font-size: 0.75em;">
      <tr class="info">
        <% for w in 100..130 do %>
        <td align="center" style="padding: 8px;"><%= w %></td>
        <% end %>
      </tr>
      <tr>
        <% for w in 100..130 do %>
        <td><%= @parent_watches_arr[w] %></td>
        <% end %>
      </tr>
    </table>
  </div>
  </div>
  <div class="row">
    <form action="watches_update" method="POST" class="form">
    	<div class="col-md-3">
    		<ul class="list-group">
    		<% @top.each do |t| %>
    			<li class="list-group-item<%= " success" if @niches.include?(t["id"]) %>" id='<%= t["id"] %>'><div class="form-inline"><input type="text" style="width: 50px; margin: 0 10px 0 10px;" id="<%= t['id'] %>" name="<%= t['id'] %>" class="form-control" value="<%= t['watch'] %>" /><!--span class="badge"><%#= t["child_count"] %><%= t["category_count"].to_s(:delimited) %></span--><%= link_to t["name"], :controller => "control_panel", :action => "watches_admin", :a => "#{t['id']}", :r => "#{t['root']}" %></div></li>
    		<% end %>
    		</ul>
    	</div>
    	<div class="col-md-9">
            <div class="panel panel-default">
            	<div class="panel-heading"><span class="panel-title lead"><%= @category.blank? ? "Categories" : "#{@category.name}" %></span></div>
            		<div class="panel-body">
                  <button type="submit" id="save_bttn" class="btn btn-primary">Save</button>
            			<% unless @children.empty? %>
                  <div style="column-count: 2; -webkit-column-count: 2; -moz-column-count: 2; -o-column-count: 2;">
                  <%= nested_descendants_form @children %>
                  </div>
                  <% else %>
                  <p>When you're looking for the right niche to write into, sometimes it's helpful to see it in context.</p>
                  <p>The Category Tree tool shows you the descendants of your chosen top-level category, giving you that needed context.</p>
                  <% end %>
            	</div>
            </div>
    	</div>
  </form>
</div>