<form action="update" id="white_label_admin_form" method="post">
	<h1>White label account settings</h1>
	<div class="container">
		<h3>We're here to help!</h3>
		<p>If you need a hand getting your white label account set up, integrating your system into Kindle Trend, or anything else in the process, just let us know. You can email <a href="mailto:whitelabel@kindletrend.com">whitelabel@kindletrend.com</a> and we're happy to help!</p>
		<div class="row">
			<div class="col-md-6">
				<h2>Company and Product</h2>
				<div class="form-group">
					<input type="hidden" name="partner_id" id="partner_id" value="<%= @partner.id %>">
					<label for="company_name" id="company_name_lbl">Company name <a class="label label-info popover-btn" data-toggle="popover" title="Company name" data-content="The name of the entity providing your product or service. This might be a company name, an individual's name, etc.">?</a></label>
					<input type="text" name="company_name" id="company_name" class="form-control" placeholder="Example Company, LLC" value="<%= @partner.name if @partner.present? %>" />
				</div>
	            
	            <%#<label for="logo_image" id="logo_image_lbl">Logo (image)</label>
	            <div class="input-group">
	                <span class="input-group-btn">
	                    <span class="btn btn-primary btn-file">
	                        Browse&hellip; <input type="file" name="logo_image_bttn" id="logo_image_bttn" multiple>
	                    </span>
	                </span>
                	<input type="text" name="logo_image" id="logo_image" class="form-control" readonly>
            	</div>%>
				
				<div class="form-group">
					<label for="product_name" id="product_name_lbl">Product name <a class="label label-info popover-btn" data-toggle="popover" title="Product name" data-content="The name of the product that your Kindle Trend service will be associated with.">?</a></label>
					<input type="text" name="product_name" id="product_name" class="form-control" placeholder="Example Kindle Product" value="<%= @partner.product_name if @partner.present? %>" />
				</div>

				<%# <div class="form-group">
					<label for="login_url" id="login_url_lbl">Login link <a class="label label-info popover-btn" data-toggle="popover" title="Login link" data-content="When one of your users logs out of Kindle Trend, what page should they be sent back to? This is typically the page that you've got an <iframe> for Kindle Trend on.">?</a></label>
					<input type="url" name="login_url" id="login_url" class="form-control" placeholder="www.example.com/kindle_trend/" />
				</div>
				
				<div class="form_group">
					<label for="contact_link" id="contact_link_lbl">Contact link <a class="label label-info popover-btn" data-toggle="popover" title="Contact link" data-content="When someone has a question or comment about Kindle Trend, where should they send it? In the interest of keeping Kindle Trend branded as your product, we suggest setting up a help form on your site that then sends an email to support@kindletrend.com.">?</a></label>
					<input type="url" name="contact_link" id="contact_link" class="form-control" placeholder="http://www.example.com/kindle_app_support_form" />
				</div>
				
				<div class="form-group">
					<label for="tos" id="tos_link_lbl">Terms of Service link <a class="label label-info popover-btn" data-toggle="popover" title="Terms of Service link" data-content="And here's some amazing content. It's very engaging. Right?">?</a></label>
					<input type="url" name="tos" id="tos" class="form-control" />
				</div>
				
				<div class="form-group">
					<label for="support_link" id="support_link_lbl">Support link <a class="label label-info popover-btn" data-toggle="popover" title="Support link" data-content="And here's some amazing content. It's very engaging. Right?">?</a></label>
					<input type="url" name="support_link" id="support_link" class="form-control" />
				</div> %>

				<!--div class="form_group" style="padding: 15px 0 15px 0;">
					<p><label id="password_reset_label">Password support</label></p>
					<p>Basic support like password reminders and changes are typically handled via an email from <em>noreply@kindletrend.com</em>. If you would like these types of support issues handled by an email with an @kindletrend.com email address, choose "By email".</p>
					<p>The second option is for all support requests to go to you, either for processing, or to be passed on to us in the case of larger issues. The advantage here is that you will retain full branding (i.e. no emails going out with a domain name that isn't yours), but it will require more work.</p>
					<p><strong><em>Which option would you prefer?</em></strong></p>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-primary<%= " active" if @partner.kt_supported != true %>">
							<input type="radio" name="kt_supported" id="kt_supported_form" value="form"<%= " checked" if @partner.kt_supported != true %> /> I will handle basic support.
						</label>
					
						<label class="btn btn-primary<%= " active" if @partner.kt_supported == true %>">
							<input type="radio" name="kt_supported" id="kt_supported_email" value="email"<%= " checked" if @partner.kt_supported == true %> /> By noreply@kindletrend.com email.
						</label>
					</div>
				</div-->

				<div class="form-group">
					<label for="support_email" id="support_email_lbl">Support email <a class="label label-info popover-btn" data-toggle="popover" title="support email" data-content="When someone has a question or comment about Kindle Trend, where should they send it? In the interest of keeping Kindle Trend branded as your product, we suggest setting up a help form on your site that then sends an email to support@kindletrend.com.">?</a></label>
					<input type="text" name="support_email" id="support_email" class="form-control" placeholder="test@example.com" value="<%= @partner.support_email if @partner.present? %>" />
				</div>

				<div class="form-group">
					<label for="kindletrend_styles" id="style">Choose your application design <a class="label label-info popover-btn" data-toggle="popover" title="support email" data-content="When someone has a question or comment about Kindle Trend, where should they send it? In the interest of keeping Kindle Trend branded as your product, we suggest setting up a help form on your site that then sends an email to support@kindletrend.com.">?</a></label>
					<select name="kindletrend_styles" id="kindletrend_styles" class="form-control">
						<option value="default"<%= raw(" selected='selected'") if @partner.app_style == "default" %>>Default</option>
						<option value="cerulean"<%= raw(" selected='selected'") if @partner.app_style == "cerulean" %>>Cerulean</option>
						<option value="flatly"<%= raw(" selected='selected'") if @partner.app_style == "flatly" %>>Flatly</option>
						<option value="journal"<%= raw(" selected='selected'") if @partner.app_style == "journal" %>>Journal</option>
						<option value="lumen"<%= raw(" selected='selected'") if @partner.app_style == "lumen" %>>Lumen</option>
						<option value="paper"<%= raw(" selected='selected'") if @partner.app_style == "paper" %>>Paper</option>
						<option value="readable"<%= raw(" selected='selected'") if @partner.app_style == "readable" %>>Readable</option>
						<option value="sandstone"<%= raw(" selected='selected'") if @partner.app_style == "sandstone" %>>Sandstone</option>
						<option value="simplex"<%= raw(" selected='selected'") if @partner.app_style == "simplex" %>>Simplex</option>
						<option value="slate"<%= raw(" selected='selected'") if @partner.app_style == "slate" %>>Slate</option>
						<option value="spacelab"<%= raw(" selected='selected'") if @partner.app_style == "spacelab" %>>Spacelab</option>
						<option value="superhero"<%= raw(" selected='selected'") if @partner.app_style == "superhero" %>>Superhero</option>
					</select>
				</div>

				<%# <div id="more_links_div">
					<label for="more_links" id="more_links_label">More links <a class="label label-info popover-btn" data-toggle="popover" title="More links" data-content="And here's some amazing content. It's very engaging. Right?">?</a></label>
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" id="more_links_bttn"><span class="glyphicon glyphicon-plus"></span></button>
						</span>
						<input type="url" name="more_links" id="more_links" class="form-control" />				
					</div>
				</div> %>
				<button class="btn btn-primary" id="save_bttn" style="margin: 15px 0 15px 0;"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
			</div>
			<div class="col-md-6">
				<h2>Integrating your product with Kindle Trend</h2>
				<% if @partner.partner_type_id == 2 %>
					<h3>For whitelabel partners:</h3>
				<% else %>
					<h3>For pre-launch partners:</h3>
				<% end %>

				<% if @partner.partner_type_id == 2 %>
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<a class="pull-right copy_to_clipboard_bttn" data-clipboard-target="whitelabel_iframe" style="margin: auto 0 auto 0;"><i class="fa fa-files-o"></i> Copy to clipboard</a>
				    <h3 class="panel-title lead">Adding Kindle Trend to your site with &lt;iFrame&gt;</h3>
				  </div>
				  <div class="panel-body">
				    <p>iFrame code to paste into your page:</p>
				    <code id="whitelabel_iframe">
				    	&lt;script src="https://www.kindletrend.com/app/widgets/partner_iframe.js?pid=<%= @partner.token if @partner.present? %>" charset="utf-8"&gt;&lt;/script&gt;&lt;script&gt;iframeScript();&lt;/script&gt;&lt;iframe title="kindletrend" src="https://www.kindletrend.com/app/partner/login?bpid=sfogiuo345fl_test" style="width: 100%; height: 1000px;" seamless scrolling="auto" onLoad='javascript:jQuery(this).iFrameResize({ log : true, enablePublicMethods : true, checkOrigin: false });'&gt;&lt;/iframe&gt;
				    </code>
				    <p style="padding-top: 25px;">Note that if you are using WordPress or a Content Management System like Joomla, Drupal, etc., it is highly recommended that you disable sidebars for the page in which you're embedding Kindle Trend.</p>
				  </div>
				</div>
				<% end %>

				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title lead">POST webhook details</h3>
				  </div>
				  <div class="panel-body">
				  	<a href="#" class="pull-right">More details...</a>
				    <h4>POST webhook details:</h4>
				    <div id="prelaunch_ipn">
				    	<p><strong>URL:</strong> <em>https://www.kindletrend.com/app/accounts/partner_integration</em></p>
				    	<p>Required parameters:</p>
				    	<ul>
				    		<li><strong>pid:</strong> <em><%= @partner.token if @partner.present? %></em></li>
				    		<li><strong>first_name:</strong> <em>First name of the subscriber.</em></li>
				    		<li><strong>last_name:</strong> <em>Surname of the subscriber.</em></li>
				    		<li><strong>email:</strong> <em>Email address of the subscriber.</em></li>
				    		<li><strong>password:</strong> <em>Chosen password for the subscriber.</em></li>
				    		<li><strong>password_confirm:</strong> <em>Verification of the subscriber password.</em></li>
				    	</ul>
				    	<p>On a successful transition, JSON is returned containing the key "status" with a value of "success".</p>
				    	<p>In the event of a failure during the transaction, JSON is returned containing the key "status" with a value of "failure".</p>
				    </div>
				  </div>
				</div>

				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<a id="embed_script_copy" data-clipboard-target='embed_script_code' class="pull-right copy_to_clipboard_bttn" style="margin: auto 0 auto 0;"><i class="fa fa-files-o"></i> Copy to clipboard</a>
				    <h3 class="panel-title lead">Embedded sign-up script</h3>
				  </div>
				  <div class="panel-body">
				  	<p><strong>NOTE:</strong> The embedded form that this script produces features Kindle Trend branding. Please use the recommended POST webhook integration if you wish to avoid Kindle Trend branding, or contact us directly.</p>
				    <p>Script for embedding a form on your page:</p>
				    <code id="embed_script_code">
				    &lt;div id='kt-sign-up' style="display: none; width: 425px;"&gt;&lt;script charset='utf-8' src='http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js'&gt;&lt;/script&gt;&lt;script charset='utf-8' src='https://www.kindletrend.com/app/widgets/partner_sign_up.js?pid=<%= @partner.token if @partner.present? %>'&gt;&lt;/script&gt;&lt;/div&gt;
				    </code>
				  </div>
				</div>
			</div>
		</div>
	</div>
</form>
