<% if params[:bpid].present? %>
    <% partner = Partner.find_by(token: params[:bpid])
        if partner.app_style != nil %>
            <%= stylesheet_link_tag "bootstrap.#{partner.app_style}.min" %>
    <% end %>
<% end %>

<div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><%= link_to "Forgot your password?", new_password_path(resource_name) %></div>
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <%= f.email_field :email, :class => "form-control", :placeholder => "email", :autofocus => true %>
                                    </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <%= f.password_field :password, :class => "form-control", :placeholder => "password" %>
                                    </div>



                            <div class="input-group">
                                <div class="checkbox">
                                <% if devise_mapping.rememberable? -%>
          									    <div class="form-group"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          									  	<% end -%>
                                </div>
                              </div>


                                <div style="margin:10px 0 50px 0;" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <%= f.submit "Sign in", :class => "btn btn-success" %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account?
                                        <%= link_to "Sign up here!", subscribe_path %>
                                        <%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
										  <%#= link_to "Sign up here!", new_registration_path(resource_name) %><br />
										<%# end -%>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
        </div>
    </div>
