<h1>Forum Form Mapper</h1>
<!--form role="form">
<div class="form-group"-->

<!--form class="form-inline" role="form" action="save_form_data" id="forum_form"-->
<div class="container" id="main">
	<div class="col-md-3 form_mapper_form_data">
			<div class="form-group form_url_group form-inline">
				<label for="form_url" class="sr-only">Forum Form URL</label>
				<input type="url" class="form-control" name="form_url" id="form_url" placeholder="Form URL (i.e. www.example.com)" />
			</div>
			<div class="form-group">
				<button class="btn btn-default" id="parse_data">Parse</button>
			</div>

		<div>
			<p><input type="text" name="form_name" id="form_name" class="form-control" placeholder="Forum name" value="" /></p>
			<p><input type="text" name="" id="form_submission_url" class="form-control" placeholder="Submission URL" /></p>
			<div class="radio">
				<h3>Submission Method</h3>
				<p><label for="submisson_method_get">
					<input type="radio" name="submission_method" id="submission_method_get" value="get" />
					GET
				</label></p>
				<p><label for="submission_method_post">
					<input type="radio" name="submission_method" id="submission_method_post" value="post" checked />
					POST
				</label></p>
			</div>
			<p><input type="checkbox" name="captcha_me" id="captcha_me" /> Form has a captcha?</p>
			<p><input type="checkbox" name="free_ebooks" id="free_ebooks" /> This forum is for free ebooks?</p>
		</div>

		<div class="mapper-categories">
			<input type="checkbox" id="all_categories" name="all_categories" />&nbsp; All<br/>
			<% @categories.each do |category| %>
				<%#= check_box_tag "#{category.id}" %><%#= category.name %>
				<input type="checkbox" name="cat_<%= category.name.gsub(" ", "_").gsub("&", "") %>" id="cat_<%= category.name.gsub(" ", "_").gsub("&", "") %>" value="<%= category.id %>" />&nbsp;<%= category.name %><br/>
			<%- end -%>
		</div>
	</div>

	<div class="col-md-9" id="field_editor_div">
	<div><button id="save_changes" class="btn btn-primary">Save Changes</button></div>
		<table id="mapper_table">
			<thead>
				<th style="text-align: center;">Fields</th>
				<th style="text-align: center;">Friendly</th>
				<th style="text-align: center;">Type</th>
				<th style="text-align: center;">Values</th>
				<th style="text-align: center;">Required</th>
				<th style="text-align: center;">Ignore</th>
				<th></th>
			</thead>
			<tr></tr>
		</table>
		<!--button id="save_changes" class="btn btn-primary pull-right">Save Changes</button-->
	</div>
</div>
<!--/div>
</form-->

<script type="text/javascript">
function checkForRadio(select_field){
	// IMPLEMENT LATER - NO TIME RIGHT NOW!!!
	var field_type_name = "#field_type_" + select_field.trim().toLowerCase().split(" ").join("_").split(".").join("_");

	switch( $(field_type_name).val() ) {
		case "select":
			$("#edit_values_button_" + select_field.trim().toLowerCase().split(" ").join("_").split(".").join("_")).attr("disabled", false);
		break;

		case "radio":

		break;

		default:
			$("#edit_values_button_" + select_field.trim().toLowerCase().split(" ").join("_").split(".").join("_")).attr("disabled", true);
			$("#list_group_" + select_field.trim().toLowerCase().split(" ").join("_").split(".").join("_")).html("");
		break;
	}
	/* var radio_bttn = "#radio_modal_bttn_" + select_field.trim().split(" ").join("_").split(".").join("_");

	if ( $(field_type_name).val() == "radio" ) {
		$(field_type_name).css("width","50%");
		$(radio_bttn).css("display", "block");
		$(field_type_name).parent().addClass("form-horizontal");
	} else {
		$(field_type_name).css("width","100%");
		$(radio_bttn).css("display", "none");
	}; */
}

function removeFormElement(el){
	$(el).parent().parent().remove();
}

function removeMe(listItem){
	$(listItem).parent().remove();
}

function addMe(item){
	var add_item = "#" + item + "_value_data";
	var append_list = "#list_group_" + item;
	var item_val = $(add_item).val();

	var list_entry = "<li class='list-group-item'>" + item_val + "<input type='hidden' id='hidden_" + item_val.toString().trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' name='hidden_" + item_val.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' value='" + item_val + "' /><span class='pull-right glyphicon glyphicon-remove close' onClick='removeMe(this);'></span></li>";
	
	$(append_list).append(list_entry);
	$(add_item).val("");
}

function friendly_options(scraped, friendly){
	var options = "";
	$.each(scraped, function(i,e){
		options = options + "<option value='" + e["aria-label"] + "'>" + e["aria-label"] + "</option>";
	});

	return options;
}

function build_friendly_options(element, friendly){
	var options = "";

	options = options + "<option value='" + element["aria-label"] + "'>";

	if (friendly.length > 0) {
		$.each(friendly, function(i,e){
			$.each(e, function(idx, el){
				options = options + "<option value='" + el["name"] + "'>" + el["name"] + "</option>";
			});
		});
	};
	
	return options;
}

function sel_value_list(list) {
	var val_list = "";

	$.each(list, function(i,l){
		if ( l["text"].length > 0 ) {
			val_list = val_list + "<li class='list-group-item'>" + l["text"] + "<input type='hidden' id='hidden_" + l["text"].toString().trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' name='hidden_" + l["text"].trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' value='" + l["value"] + "' /><span class='pull-right glyphicon glyphicon-remove close' onClick='removeMe(this);'></span></li>";
		};
	});

	return val_list;
}

function form_object(){
	var form_obj = new Object();
	var categories = new Array();
	//var category = new Objecy();
	var form_fields = new Array();
	//$("#forum_form").submit();
	/* url, name, submission_url, submission_method, captcha, free_ebooks, categories{ id }, fields{ id, friendly_name, field_type, field_values{ text, val }, is_required, is_ignored } */
	form_obj.url = $("#form_url").val();
	form_obj.form_name = $("#form_name").val();
	form_obj.submission_url = $("#form_submission_url").val();
	form_obj.submission_method = $("[name=submission_method]:checked").val();
	form_obj.captcha = $("#captcha_me").bootstrapSwitch("state");
	form_obj.free_ebooks = $("#free_ebooks").bootstrapSwitch("state");

	$(".mapper-categories input:checkbox").each(function(chck){
		if ( $(this).is(":checked") && !$(this).is("[name=all_categories]") ) {
			categories.push( $(this).val() );
		};
	});

	form_obj.categories = categories;

	$("#mapper_table tr").each(function(tr){
		var form_field = new Object();

		$(this).children("td").each(function(){
			// Field[0], Friendly[1], Type[2], Values[3], Required[4], Ignored[5]...
			switch( $(this).index() ) {
				case 0:
					var field = $(this).children("input:hidden").val();
					form_field["id"] = field;
				break;
					
				case 1:
					var friendly = $(this).children("input:text").val();
					form_field["friendly_name"] = friendly;

				break;

				case 2:
					var type = $(this).children("select").val();
					form_field["field_type"] = type;

				break;

				case 3:
					var field_values = new Array();

					$(this).find(".list-group-item").each(function(li){
						var field_value = new Object();

						field_value["text"] = $(this).text();
						field_value["val"] = $(this).children("input:hidden").val();

						field_values.push(field_value);
					});

					if (field_values != null) {
						form_field["field_values"] = field_values;
					};

				break;

				case 4:
					var required = $(this).find(".require_me").bootstrapSwitch("state");
					form_field["is_required"] = required;

				break;

				case 5:
					var ignored = $(this).find(".ignore_me").bootstrapSwitch("state");
					form_field["is_ignored"] = ignored;

				break;
			}
		});
		if (form_field != null ) {
			form_fields.push(form_field);
		};

		form_obj.fields = form_fields;
	});

	return form_obj;
}

$(function(){
	$('.init_combobox').combobox();
	$("#required_field").bootstrapSwitch();
	$("#ignored_field").bootstrapSwitch();
	$("#free_ebooks").bootstrapSwitch();
	$("#captcha_me").bootstrapSwitch();

	$("#parse_data").click(function(){
		var form_url = $("#form_url").val();
		//$.post("http://localhost:3000/parse_form.json", {form_url: form_url}, function(data){
		$.post("/app/parse_form.json", {form_url: form_url}, function(data){
			$("#field_editor_div").css("display", "block");

			$.each(data, function(index, element){
				/*$.each(element["friendly_names"], function(i,e){
					$.each(e, function(a,b){
						alert( b["name"].toString() );
					});
				});*/

				$.each(element["scraped_form"], function(i,e){
					values_modal = "";
					
					values_modal = "<div class='modal fade' id='" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "_modal' role='dialog' aria-hidden='true'><div class='modal-dialog'><div class='modal-content'><div class='modal-header'><button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button><h4 class='modal-title'>Preset Options for &lt;Select/&gt; lists</h4></div><div class='modal-body'><ul class='list-group' id='list_group_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "'>"

					if ( e["options"] != null ) {
					 	values_modal = values_modal + sel_value_list(e["options"]);
					 };

					 values_modal = values_modal + "</ul><div class='form-inline'><input type='text' class='form-control' style='width: 85%; margin-right: 25px;' id='" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "_value_data' /><button class='btn' onClick='addMe(\"" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "\")';'>Add</button></div></div><div class='modal-footer'><button type='button' class='btn btn-primary' data-dismiss='modal'>Save changes</button></div></div></div></div>";

					 radio_modal = "";
					
					radio_modal = "<div class='modal fade' id='" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "_radio_data_modal' role='dialog' aria-hidden='true'><div class='modal-dialog'><div class='modal-content'><div class='modal-header'><button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button><h4 class='modal-title'>Preset Options for Radio inputs</h4></div><div class='modal-body'><h3>Label</h3><ul class='list-group' id='radio_list_group_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "'>"

					/*if ( e["options"] != null ) {
					 	radio_modal = radio_modal + sel_value_list(e["options"]);
					 };*/

					 radio_modal = radio_modal + "</ul><div class='form-inline'><input type='text' class='form-control' style='width: 85%; margin-right: 25px;' id='" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "_radio_data' /><button class='btn' onClick='addRadioData(\"" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "\")';'>Add</button></div></div><div class='modal-footer'><button type='button' class='btn btn-primary' data-dismiss='modal'>Save changes</button></div></div></div></div>";

					var new_row = "<tr class='map_table_tr'><fieldset name='" + e.name + "'><td>" + e.name + "<input type='hidden' id='" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' name='" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' value='" + e.name + "' /></td><td><input type='text' list='friendly_list_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' class='form-control' id='friendly_name_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "'><datalist id='friendly_list_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "'>" + build_friendly_options(e, element["friendly_names"]) + "</datalist></td><td><!--div class='form-inline'--><select name='field_type_" + e.name.trim().split(" ").join("_").split(".").join("_") + "' id='field_type_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' class='form-control type_selects' onchange='checkForRadio(&quot;" + e.name.trim().split(" ").join("_").split(".").join("_") + "&quot;);'><option value='button'>Button</option><option value='checkbox'>Checkbox</option><option value='color'>Color</option><option value='date'>Date</option><option value='datetime'>Datetime</option><option value='datetime-local'>Datetime (local)</option><option value='email'>Email</option><option value='hidden'>Hidden</option><option value='month'>Month</option><option value='number'>Number</option><option value='password'>Password</option><option value='radio'>Radio</option><option value='range'>Range</option><option value='search'>Search</option><option value='select'>Select</option><option value='submit'>Submit</option><option value='tel'>Tel</option><option value='text'>Text</option><option value='textarea'>TextArea</option><option value='time'>Time</option><option value='url'>URL</option><option value='week'>Week</option></select><!--button class='btn btn-default btn-sm radio_modal_bttn' id='radio_modal_bttn_" + e.name.trim().split(" ").join("_").split(".").join("_") + "'><span class='glyphicon glyphicon-cog'></span></button></div--></td><td><button id='edit_values_button_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' class='btn btn-primary' data-toggle='modal' data-target='#" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "_modal' disabled>Edit</button>" + values_modal + "</td><td><input type='checkbox' id='required_field_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' class='require_me' /></td><td><input type='checkbox' id='ignored_field_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_") + "' class='ignore_me' /></td><td><span class='pull-right glyphicon glyphicon-remove close' onClick='removeFormElement(this);'></span></td></fieldset></tr>";

					$("#mapper_table > tbody:last").last().append(new_row);

					var field_type_name = "#field_type_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_");
					var edit_vals_button = "#edit_values_button_" + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_");

					$(field_type_name).val(e.type);

					if ( e.type == "select" ) { $(edit_vals_button).attr("disabled", false) };
					$(".radio_modal_bttn").css("display","none");
					//if ( e.type != "radio" ) { $(".radio_modal_bttn").css("display","none") };
				});

				$.each(element["page_data"], function(i,e){
					$("#form_name").val(e["page_title"]);
					$("#form_submission_url").val(e["submission_url"]);
				});

				$(".combobox").combobox();
				$(".require_me").bootstrapSwitch();
				$(".ignore_me").bootstrapSwitch();
				$(".mapper-categories").css("display","block");

				$.each(element["scraped_form"], function(i,e){
					if ( e["aria-required"] == "true" ) {
						var required_field_name = "#required_field_"  + e.name.trim().toLowerCase().split(" ").join("_").split(".").join("_");
						$(required_field_name).bootstrapSwitch("state", true, false);
					};
				});
			});
		});
		
		return false;
	});

	$("#save_changes").click(function(){
		var form_json = JSON.stringify(form_object());

		$.ajax({
			url: '/app/save_form_data',
			//url: 'http://localhost:3000/save_form_data',
			type: 'post',
			data: form_json,
			contentType: 'application/json',
			dataType: 'json'
		});
	});

	$("#all_categories").click(function(){
		if ( $("#all_categories").is(":checked") ) {
			$(".mapper-categories input:checkbox").prop("checked", true);
		} else {
			$(".mapper-categories input:checkbox").prop("checked", false);
		};
	});
});
</script>