/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require sticky-footer-navbar
 *= require footable.core
 *= require bootstrap-combobox
 *= require bootstrap-switch.min
 *= require bootstrapValidator.min
*= require bootstrap-datetimepicker
 */

 <%# Lumen, Paper, Sandstone, Superhero %>

<% if Rails.env == 'development'
	dir_prefix = ""
else
	dir_prefix = "/assets/fonts/"
end %>

@font-face {
  font-family: 'Glyphicons';
  src:url('<%= dir_prefix %>glyphicons-halflings-regular.eot');
  src:url('<%= dir_prefix %>glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('<%= dir_prefix %>glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg'),
    url('<%= dir_prefix %>glyphicons-halflings-regular.woff') format('woff'),
    url('<%= dir_prefix %>glyphicons-halflings-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar-collapse { margin-top: 49px; }
.brand>img { margin: 15px; }

.kindlegold_background { background-color: #fd9a0a; }
.kindlered_background { background-color: #d40000; }
.kindlegray_background { background-color: #666666; }
.kindlegold { color: #fd9a0a; }
.kindlered { color: #d40000; }
.kindlegray { color: #666666; }

.input-append .btn.dropdown-toggle {
    float: none;
}

/* Styles for OneClick. */
.mapper-categories { display: none; }
#field_editor_div { display: none; }
.map_table_tr { padding: 10px 0 10px 0; }
.map_table_tr > td { padding: 5px 5px 10px 0; }
.form_mapper_form_data > div { padding: 10px 5px 10px 0; }
.type_selects { width: 50%; }

.form-group {
  -webkit-column-break-inside:avoid;
  -moz-column-break-inside:avoid;
  -o-column-break-inside:avoid;
  -ms-column-break-inside:avoid;
  column-break-inside:avoid;
  page-break-inside:avoid;
}

.col_break {
  -webkit-column-break-inside:avoid;
  -moz-column-break-inside:avoid;
  -o-column-break-inside:avoid;
  -ms-column-break-inside:avoid;
  column-break-inside:avoid;
  page-break-inside:avoid;
}

.checkbox { margin-left: 20px; }
