// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination-centered { text-align: center; }
.category_row { padding-bottom: 5px; }
#records { display: none; }
#loading { text-align: center; }