// Place all the styles related to the Intelligence controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.arc path { stroke: #fff; }
.tooltip {
	position: relative;
	padding: 10px;
	font: 12px sans-serif; background: #a05d56;
		color: white;
		font-size: 1.15em;
	border: 1px solid white;
		border-radius: 8px; pointer-events: none;
	top: 50%;
	left: 50%;
}

.label-info { background-color: #f5f5f5; }