<%# ####################################### %>
<%# # From Compete.com:                   # %>
<%# # Site demographics(age/gender/income)# %>
<%# ####################################### %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.collapse').collapse();

        <% @descwords.each do |d| %>
          <% if d[1] > 24 %>
            $("#<%=d[0] %>_desc_link").click(function(){
              $.get("<%= "/app" if Rails.env == 'production' %>/categories/<%= d[0] %>/amazon_suggest.json", function(data){
                $("#<%= d[0] %>_desc_keywords").html("");
                $.each(data, function(index, element){
                  $("#<%= d[0] %>_desc_keywords").append("<div class='form-inline'><div style='text-align: left; color: darkgray;'><a href='http://www.google.com/trends/explore#q=" + element + "' target='BLANK' class='btn btn-default' title='Google Trends' style='margin: 3px;'><i class='fa fa-google'></i></a>  " + element + "</div></div>");
                });
              });
              $("#<%= d[0] %>_desc_panel").show();
            });
          <% end %>
        <% end %>

        <% @titlewords.each do |t| %>
          <% if t[1] > 3 %>
            $("#<%= t[0] %>_title_link").click(function(){
              $.get("<%= "/app" if Rails.env == 'production' %>/categories/<%= t[0] %>/amazon_suggest.json", function(data){
                $("#<%= t[0] %>_title_keywords").html("");
                $.each(data, function(index, element){
                  $("#<%= t[0] %>_title_keywords").append("<div class='form-inline'><div style='text-align: left; color: darkgray;'><a href='http://www.google.com/trends/explore#q=" + element + "' target='BLANK' class='btn btn-default' title='Google Trends' style='margin: 3px;'><i class='fa fa-google'></i></a>  " + element + "</div></div>");
                });
              });
              $("#<%= t[0] %>_title_panel").show();
            });
          <% end %>
        <% end %>

        $("#keyword_search").keypress(function (e) {
          var key = e.which;
          
          if(key == 13) {
            var keywords = $("#keyword_search").val();

            if (keywords != null) {
              if (keywords.length > 2) {
                keyword_search_activity();
              } else {
                $("#keyword_search_results").html("<div class='alert alert-warning'>You need at least 3 letters to search.</div");
              };
            };
          };
        });

        $("#keyword_search_btn").click(function(){
          var keywords = $("#keyword_search").val();

            if (keywords != null) {
              if (keywords.length > 2) {
                keyword_search_activity();
              } else {
                $("#keyword_search_results").html("<div class='alert alert-warning'>You need at least 3 letters to search.</div");
              };
            };
        });

        function keyword_search_activity(){
          $("#keyword_search_results").html("<div style='width: 100%; text-align: center;'><img src='<%= "/app" if Rails.env == 'production' %>/assets/loading.gif' /></div>");

          var keywords = $("#keyword_search").val();
          $.get("<%= "/app" if Rails.env == 'production' %>/categories/" + keywords + "/amazon_suggest.json", function(data){
            if (data.length > 0) {
              $("#keyword_search_results").html("");
              $.each(data, function(index, element){
                $("#keyword_search_results").append("<div class='form-inline'><div style='text-align: left; color: darkgray;'><a href='http://www.google.com/trends/explore#q=" + element + "' target='BLANK' class='btn btn-default' title='Google Trends' style='margin: 3px;'><i class='fa fa-google'></i></a>  " + element + "</div></div>");
              });
            } else{
              $("#keyword_search_results").html("No results found for \"" + keywords + "\".");
            };
          });
        }
      });
    </script>
    <%# Begin breadcrumb nav %>
    <ol class="breadcrumb">
      <% @ancestors.each do |a| %>
        <li><%= a.name %></li>
      <% end %>
      <li class="active"><%= @category.name %></li>
      <ul class="nav navbar-nav navbar-right">
      <li>
        <div id="avg_rating" style="padding-right: 15px;" class="nav navbar-nav navbar-right">&nbsp;(<%= @rating %>)</div>
      <% r = @rating.to_s.split(".") %>
      <% major_rating = r[0] %>
      <% minor_rating = r[1] %>
      <% stars = 0 %>

      <% if minor_rating.to_i >= 5 %>
        <% stars = major_rating.to_i + 1 %>
      <% else %>
        <% stars = major_rating.to_i %>
      <% end %>

      <% empty_stars = 5 - stars %>
  
      <% for x in 1..stars.to_i do %>
        <div class="glyphicon glyphicon-star"></div>
      <% end %>

    <% for x in 1..empty_stars.to_i do %>
      <div class="glyphicon glyphicon-star-empty"></div>
    <% end %>
    </li>
    <!--li>
      <div class="dropdown" style="margin-right: 25px;">
      <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="padding: 10px;">
        <li><input type="checkbox" name="" id="" checked> Include results outside of the top 20.</li>
        <li><input type="checkbox" name="" id=""> If there are child categories, aggregate known results.</li>
        <li><input type="checkbox" name="" id=""> Option 3</li>
      </ul>
      </div>
    </li-->
    </ul>
    </ol>
    <%# End breadcrumb nav %>
    <div class="row">
      <div class="col-md-8" style="margin-top: 0 auto; margin-bottom: 0 auto;"><h1></h1></div>
      <div class="col-md-4">
        
      </div>
    </div>
    <div class="row">
      <div id="child_categories" class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title lead">Child Categories</span></div>
          <div class="panel-body">
            <ul>
              <% if @children.count > 0 %>
                <%#= child_categories @children %>
                <% @children.each do |c| %>
                  <li><%= c.name %></li>
                <% end %>
              <% else %>
                No child niches.
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title lead">Estimated Author Gender</span></div>
          <div class="panel-body">
            <%= pie_chart({"Male" => @author_genders[0].male, "Female" => @author_genders[0].female}, library: {pieHole: 0.4}, colors: ["#428bca", "#a05d56"]) %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
          <span class="panel-title lead">Statistics</span>
          </div>
          <div class="panel-body">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#means">
                      Averages(Means)
                    </a>
                  </h4>
                </div>
                <div id="means" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @mean_reviews %></span>
                      Average number of reviews</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @mean_pages %></span>
                      Average number of pages</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= number_to_currency(@mean_est_earnings) %></span>
                      Estimated monthly income</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @mean_est_sales %></span>
                      Estimated daily sales</h4></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#median">
                      Medians
                    </a>
                  </h4>
                </div>
                <div id="median" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @median_reviews %></span>
                      Average number of reviews</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @median_pages %></span>
                      Average number of pages</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= number_to_currency(@median_est_earnings) %></span>
                      Estimated monthly income</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @median_est_sales %></span>
                      Estimated daily sales</h4></li>
                    </ul>
                  </div>
                </div>
              </div>
                
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#ceiling">
                      Ceilings
                    </a>
                  </h4>
                </div>
                <div id="ceiling" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @ceiling_reviews %></span>Average number of reviews</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @ceiling_pages %></span>Average number of pages</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= number_to_currency(@ceiling_est_earnings) %></span>Estimated monthly income</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @ceiling_est_sales %></span>Estimated daily sales</h4></li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#floor">
                      Floors
                    </a>
                  </h4>
                </div>
                <div id="floor" class="panel-collapse collapse">
                  <div class="panel-body">  
                    <ul class="list-group">
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @floor_reviews %></span>Average number of reviews</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @floor_pages %></span>Average number of pages</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= number_to_currency(@floor_est_earnings) %></span>Estimated monthly income</h4></li>
                      <li class="list-group-item"><h4><span class="label label-info pull-right"><%= @floor_est_sales %></span>Estimated daily sales</h4></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title lead">Common Words in Titles</span></div>
          <div class="panel-body">
          <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#keywordsModal" style="margin-bottom: 25px; width: 100%;"><span class="glyphicon glyphicon-search"></span>  Keyword Search</button>
            <p>Click a word in the table below to reveal common Amazon searches.</p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="bold">Word</th>
                  <th>Count</th>
                </tr>
              </thead>
              <% @titlewords.each do |t| %>
                <% if t[1] > 3 %>
                <tr>
                  <td><%= link_to t[0], "javascript:void(0);", :id => "#{t[0]}_title_link" %></td>
                  <td><%= t[1] %></td>
                </tr>
                <tr style="display: none;"><td colspan="2"></td></tr>
                <tr>
                  <td colspan="2" id="<%= t[0] %>_title_panel" style="display: none;">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <!-- button id="<%= t[0] %>_title_close" type="button" class="close" aria-hidden="true"">&times;</button -->
                        <span class="panel-title lead">Popular Searches</span>
                      </div>
                      <div class="panel-body" id="<%= t[0] %>_title_keywords" style="text-align: center;"><%= image_tag "loading.gif" %></div>
                    </div>
                  </td>
                </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div id="common_words" class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title lead">Common words in description</span></div>
          <div class="panel-body">
            <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#keywordsModal" style="margin-bottom: 25px; width: 100%;"><span class="glyphicon glyphicon-search"></span>  Keyword Search</button>
            <p>Click a word in the table below to reveal common Amazon searches.</p>
            <table class="table table-striped">
              <tr>
                <thead>
                  <tr>
                    <th>Word</th>
                    <th>Count</th>
                  </tr>
                </thead>
              </tr>
              <% @descwords.each do |d| %>
                <% if d[1] > 24 %>
                <tr>
                  <td><%= link_to d[0], "javascript:void(0);", :id => "#{d[0]}_desc_link" %></td>
                  <td><%= d[1] %></td>
                </tr>
                <tr style="display: none;"><td colspan="2"></td></tr>
                <tr>
                  <td colspan="2" id="<%= d[0] %>_desc_panel" style="display: none;">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <!-- button id="<%= d[0] %>_desc_close" type="button" class="close" aria-hidden="true">&times;</button -->
                        <span class="panel-title lead">Popular Searches</span>
                      </div>
                      <div class="panel-body" id="<%= d[0] %>_desc_keywords" style="text-align: center;"><%= image_tag "loading.gif" %></div>
                    </div>
                  </td>
                </tr>
                <% end %>
              <% end %>
            </table>
            </div>
          </div>
        </div>

        <div id="book_list" class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-title lead">Books</span></div>
            <div class="panel-body">
              <ul>
                <% @ebooks.each do |e| %>
                <li><%= link_to e.name, e.url, :target => "blank" %> 
                  <% e.authors.each do |a| %>
                    <% unless a.blank? %>
                      (<%= a.name %>, <span>Author</span>)  
                    <% end %>
                  <% end %>
                  <%= link_to "Google", "https://www.google.com/search?q=#{e.name}", :target => "blank" %> &bull; <% unless e.authors[0].blank? %><%= link_to "Shelfari", "http://www.shelfari.com/search/books?Keywords=#{e.name} #{e.authors[0].name}", :target => "blank" %> &bull; <% end %><%= link_to "GoodReads", "https://www.goodreads.com/search?utf8=✓&query=#{e.name}", :target => "blank" %> &bull; <%= link_to "Google Trends", "http://www.google.com/trends/explore#q=#{e.name}", :target => "blank" %></li>
                  <% end %>
              </ul>
            </div>
          </div>
        </div>

        <div id="book_list" class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-title lead">Publication Date of Bestsellers</span></div>
            <div class="panel-body">
            <%= pie_chart({"Up to 1mo" => @ebook_age[0].one_month, "1mo - 3mo" => @ebook_age[0].three_months, "3mo - 6mo" => @ebook_age[0].six_months, "6mo - 1yr" => @ebook_age[0].one_year, "> 1yr" => @ebook_age[0].older}, library: {pieHole: 0.4}, colors: ["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]) %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-title lead">Day of the Week Published</span></div>
            <div class="panel-body">
              <div id="chart_day_published"></div>
              <%= column_chart({"Sun" => @sunday, "Mon" => @monday, "Tue" => @tuesday, "Wed" => @wednesday, "Thu" => @thursday, "Fri" => @friday, "Sat" => @saturday}, library: {width: 500}, colors: ["#428bca"]) %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-title lead">Independent vs. Company Published</span></div>
            <div class="panel-body">
            <%= pie_chart({"Self Published" => @publishers[0].self, "Publishing Firm" => @publishers[0].firm}, library: {pieHole: 0.4} ,colors: ["#428bca", "#a05d56"]) %>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-title lead">Categories that books from <strong class="kindlered"><%= @category.name %></strong> also appear in</span></div>
            <div class="panel-body">
            <% @related_categories.each do |r| %>
              <% unless r.category_id == @category.id || r.category_id == 1 %>
                <span class="badge"><%= r.category_count %></span>  
                <% r.ancestors.each do |a| %>
                    <%= a.name %> /
                <% end %>
                <%= r.name %><br/>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="keywordsModal" tabindex="-1" role="dialog" aria-labelledby="keywordsLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="keywordsLabel"><span class="glyphicon glyphicon-search"></span>  Keyword Search</h4>
          </div>
          <div class="modal-body">
            <p>Use this tool to search for keywords that aren't found in the title or description common words lists.</p>
            <div class="input-group">
              <input type="text" name="keyword_search" id="keyword_search" class="form-control" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default pull-right" id="keyword_search_btn"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
            <div id="keyword_search_results" style="margin: 25px 0 0 25px;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
