<p><%= @ancestry_id %></p>

<div class="row">
	<div class="col-md-3">
		<ul class="list-group">
		<% @top.each do |t| %>
			<li class="list-group-item<%= " success" if @niches.include?(t["id"]) %>" id='<%= t["id"] %>'><span class="badge"><%#= t["child_count"] %><%= t["category_count"].to_s(:delimited) %></span><%= link_to t["name"], :controller => "categories", :action => "index", :a => "#{t['id']}", :r => "#{t['root']}" %></li>
		<% end %>
		</ul>
	</div>
	<div class="col-md-9">
        <div class="panel panel-default">
        	<div class="panel-heading"><span class="panel-title lead"><%= @category.blank? ? "Categories" : "#{@category.name}" %></span></div>
        		<div class="panel-body">
          			<% unless @children.empty? %>
                <div style="column-count: 2; -webkit-column-count: 2; -moz-column-count: 2; -o-column-count: 2;">
                <%= nested_descendants @children %>
                </div>
                <% else %>
                <p>When you're looking for the right niche to write into, sometimes it's helpful to see it in context.</p>
                <p>The Category Tree tool shows you the descendants of your chosen top-level category, giving you that needed context.</p>
                <% end %>

                <%# if @active_node %>
          			<%#= @active_node.tree %>
          			<%# @active_node.each do |n| %>
						      <%#= "#{n.name}<br/>" %>
          			<%# end %>
          			<%# end %>

        	</div>
        </div>
	</div>
</div>