<div class="container">
    <h1>Kindle Category Comparisons</h1>
    <p><%= @friendly_product %> Category Comparisons are a great way to understand how valuable a Kindle store category will be for you, depending on your writing goals. uses multiple factors to determine the value of a category for authors, but for high-level recommendations, the estimated mean income (see our calculation page for a description of how we get our numbers), along with the amount of competion (i.e. how many books are in the category).</p>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
          <% @top_categories.each do |t| %>
          <% link_class = "list-group-item category-list"
                link_class = "list-group-item category-list active" if @active.to_i == t.id %>
          <%= link_to t.name, {:controller => "categories", :action => "rollup", :a => "#{t.id}"}, :class => "#{link_class}" %>
          <% end %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="category_instructions alert alert-info">
        Category data is now segmented by top level categories. You can compare the data that you are interested in, and avoid loading what you don't need. To get started, simply choose from the list on the left the categories you wish to compare. You can add or remove as many as you wish, at any time during your analysis.
      </div>
      <div id="category_comparisons">
        <div class="panel-body" id="loading">
            <%= image_tag "loading.gif" %>
          </div>
        <h3>Filter by category:</h3>
        <div class="input-group">
          <input type="text" class="form-control" name="filter" id="filter" placeholder="Filter by category" />
          <div class="input-group-btn"><button id="remove_filter" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></div>
        </div>
        <table class="table table-responsive footable" data-filter="#filter" data-filter-text-only="true" data-page-size="25">
          <thead>
            <tr>
              <th>Category</th>
              <th data-type="numeric"># Children</th>
              <th data-type="numeric"># Books in Cat.</th>
              <th data-type="numeric">Est. Daily Sales</th>
              <th data-type="numeric">Est. Monthly Income</th>
              <th data-type="numeric">Max Est. Daily Sales</th>
              <th data-type="numeric">Max Est. Monthly Income</th>
              <th data-type="numeric">Min Est. Daily Sales</th>
              <th data-type="numeric">Min Est. Monthly Income</th>
              <th data-sort-ignore="true"></th>
              <th data-sort-ignore="true"></th>
              <th data-sort-ignore="true"></th>
            </tr>
          </thead>
          <tbody>
            <% rollups_arr = Array.new %>
            <% #rollup_hash = Hash.new %>
            
            <% unless @rollups.blank? %>
              <% @rollups.each do |rollup| %>
                <% bestseller = Bestseller.find(rollup.bestseller_id) %>
                <% cat = Category.find(bestseller.category_id) %>
                <% ancestors = cat.ancestors %>
                  <% rollups_arr << { row_id: rollup.id, ancestors: ancestors, category: "#{cat.name}", cat_group: cat.category_group_id, cat_id: cat.id, category_child_count: rollup.category_child_count.to_s(:delimited), category_book_count: rollup.category_book_count.to_s(:delimited), estimated_mean_sales: rollup.estimated_mean_sales.to_s(:delimited), estimated_mean_income: number_to_currency(rollup.estimated_mean_income), estimated_ceiling_sales: rollup.estimated_ceiling_sales.to_s(:delimited), estimated_ceiling_income: number_to_currency(rollup.estimated_ceiling_income), estimated_floor_sales: rollup.estimated_floor_sales.to_s(:delimited), estimated_floor_income: number_to_currency(rollup.estimated_floor_income) } %>
              <% end %>
            <% end %>

            <% unless @rollups.blank? %>
              <% arr = rollups_arr.group_by { |rollup| rollup[:category] } %>
              <% arr.each do |a| %>
                <% groups = a[1].sort_by { |rollup| rollup[:cat_group] } %>
                <% groups = groups.reverse %>
                <tr class="item_<%= @active %>">
                    <td>
                    <% count = 0 %>
                    <div style="font-size: .65em;"><% groups.first[:ancestors].each do |a| %>
                      <% unless count == 0 %>
                        <%= a.name %> >
                      <% end %>
                      <% count = count + 1 %>
                    <% end %></div>
                    <%= link_to groups.first[:category], :controller => "categories", :action => "analytics", :category => groups.first[:cat_id] %>
                    </td>
                    <td><%= groups.first[:category_child_count] %></td>
                    <td><%= groups.first[:category_book_count] %></td>
                    <td><%= groups.first[:estimated_mean_sales] %></td>
                    <td><%= groups.first[:estimated_mean_income] %></td>
                    <td><%= groups.first[:estimated_ceiling_sales] %></td>
                    <td><%= groups.first[:estimated_ceiling_income] %></td>
                    <td><%= groups.first[:estimated_floor_sales] %></td>
                    <td><%= groups.first[:estimated_floor_income] %></td>
                    <td><%= link_to :controller => "categories", :action => "analytics", :category => groups.first[:cat_id] do %> <span class="glyphicon glyphicon-stats" title="Category metrics"></span><% end %></td>
                    <td><%= link_to :controller => "categories", :action => "takeoff", :category_id => groups.first[:cat_id] do %><span class="glyphicon glyphicon-plane" title="Taking off in this category"></span><% end %></td>
                    <!--td><span class="glyphicon glyphicon-font" title="Category title and description keywords"></span></td-->
                  </tr>
              <% end %>
            <% end %>
          </tbody>
          <tfoot>
              <tr>
                  <td colspan="12" style="text-align: center;">
                      <ul class="pagination pagination-centered hide-if-no-paging"></ul>
                  </td>
              </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="cannotLoadModal" tabindex="-1" role="dialog" aria-labelledby="cannotLoadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cannot Load Requested Data</h4>
      </div>
      <div class="modal-body">
        Kindle Trend is having trouble getting the data that you requested. Usually that means that there is a connection failure somewhere, and can mean that you are no longer connected to the internet. Please test your internet connection, refresh the browser page, and try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End modals -->
<%= javascript_include_tag "footable.paginate" %>