<div class="col-md-12">
  <h1>Take offs</h1>
  <div class="panel panel-default">
    <div class="panel-heading"><span class="panel-title lead">Breaking into <span class="kindlered"><%= @category.name %></span></span></div>
    <div class="panel-body">
      <% if @ranks.last >= 100 %>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How many books will I have to sell per day to get into the top 100 bestsellers?</div><div class="col-md-3 label label-info pull-right"><h4><%= @hundred_sales %></h4></div></div>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How much money can I expect to make with the 100th bestseller?</div><div class="col-md-3 label label-info pull-right"><h4><%= number_to_currency(@hundred_income) %></h4></div></div>
      <% end %>
      
      <% if @ranks.last >= 80 %>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How many books will I have to sell per day to get onto the next page (61-80) of bestsellers?</div><div class="col-md-3 label label-info pull-right"><h4><%= @eighty_sales %></h4></div></div>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How much money can I expect to make with the 80th bestseller?</div><div class="col-md-3 label label-info pull-right"><h4><%= number_to_currency(@eighty_income) %></h4></div></div>
      <% end %>

      <% if @ranks.last >= 60 %>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How many books will I have to sell per day to get onto the next page (41-60) of bestsellers?</div><div class="col-md-3 label label-info pull-right"><h4><%= @sixty_sales %></h4></div></div>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How much money can I expect to make with the 60th bestseller?</div><div class="col-md-3 label label-info pull-right"><h4><%= number_to_currency(@sixty_income) %></h4></div></div>
      <% end %>

      <% if @ranks.last >= 40 %>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How many books will I have to sell per day to get onto the next page (21-40) of bestsellers?</div><div class="col-md-3 label label-info pull-right"><h4><%= @forty_sales %></h4></div></div>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How much money can I expect to make with the 40th bestseller?</div><div class="col-md-3 label label-info pull-right"><h4><%= number_to_currency(@forty_income) %></h4></div></div>
      <% end %>

      <% if @ranks.last >= 20 %>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How many books will I have to sell per day to get into the top 20 bestsellers?</div><div class="col-md-3 label label-info pull-right"><h4><%= @twenty_sales %></h4></div></div>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How much money can I expect to make with the 20th bestseller?</div><div class="col-md-3 label label-info pull-right"><h4><%= number_to_currency(@twenty_income) %></h4></div></div>
      <% end %>

      <% if @ranks.last >= 10 %>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How many books will I have to sell per day to get into the top 10 bestsellers?</div><div class="col-md-3 label label-info pull-right"><h4><%= @ten_sales %></h4></div></div>
        <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How much money can I expect to make with the 10th bestseller?</div><div class="col-md-3 label label-info pull-right"><h4><%= number_to_currency(@ten_income) %></h4></div></div>
      <% end %>

      <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How many books will I have to sell per day to get the #1 bestsellers in this category?</div><div class="col-md-3 label label-info pull-right"><h4><%= @one_sales %></h4></div></div>
      <div class="row" style="margin: 0 20px 10px 20px;"><div class="col-md-9">How much money can I expect to make with the #1 bestseller?</div><div class="col-md-3 label label-info pull-right"><h4><%= number_to_currency(@one_income) %></h4></div></div>
    </div>
    </div>
  </div>