<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Categories ready for your book</h1>
            As of <span class="kindlegold_background kindlered" style="font-weight: bolder;"><%= @top_categories[0]["created_at"].strftime("%B %d, %Y") %></span>, our last crawl, each of the following categories had less than 100 books. While publication here won't automatically push you into the bestseller list, any sales will. If you desire to build your credibility or reputation by being on a Kindle Bestseller list, here is your path of least resistance.
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <%# link_to "All Easy targets", {:controller => "categories", :action => "targets"}, :class => "list-group-item category-list" %>
                <% @top_categories.each do |t| %>
                <% link_class = "list-group-item targets category-list"
                link_class = "list-group-item targets category-list active" if @active.to_i == t.id %>
                <%= link_to t.name, {:controller => "categories", :action => "targets", :a => "#{t.id}"}, :class=> "#{link_class}" %>
                <% end %>
            </div>
        </div>
    	<div class="col-md-9">
            <div class="category_instructions alert alert-info">
                Category data is now segmented by top level categories. You can compare the data that you are interested in, and avoid loading what you don't need. To get started, simply choose from the list on the left the categories you wish to compare. You can add or remove as many as you wish, at any time during your analysis.
            </div>
          <div class="panel panel-default">
            <div class="panel-heading"><span class="panel-title lead">Categories with less than 100 books</span></div>
    		<div class="panel-body" id="loading">
    			<%= image_tag "loading.gif" %>
    		</div>
			<div class="input-group" style="margin: 20px;">
			  <input type="text" class="form-control" name="filter" id="filter" placeholder="Filter by category" />
			  <div class="input-group-btn"><button id="remove_filter" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></div>
			</div>
    		<table class="table table-responsive footable" data-filter="#filter" data-filter-text-only="true" data-page-size="50">
    			<thead>
    				<tr>
    					<th>Category</th>
    					<th data-type="numeric">Count</th>
    				</tr>
    			</thead>
    			<tbody>
    				<% @gimmes.each do |g| %>
    				<tr class='item_<%= @active %>'>
    					<td>
                        <%= g["ancestry"] %>
						<span style="color: red; font-weight: bolder;"><%= g["name"] %></span>
    					</td>
    					<td><span class="badge pull-right"><%= g.count %></span></td>
    				</tr>
    				<% end %>
    			</tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pagination-centered hide-if-no-paging"></ul>
                        </td>
                    </tr>
                </tfoot>
    		</table>
        </div>
      </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="cannotLoadModal" tabindex="-1" role="dialog" aria-labelledby="cannotLoadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cannot Load Requested Data</h4>
      </div>
      <div class="modal-body">
        Kindle Trend is having trouble getting the data that you requested. Usually that means that there is a connection failure somewhere, and can mean that you are no longer connected to the internet. Please test your internet connection, refresh the browser page, and try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End modals -->
<%= javascript_include_tag "footable.paginate" %>