<h1>Resources</h1>
<p>This page is a collection of resources to help you at each stage of the writing and publishing process.</p>
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#writing_tab" role="tab" data-toggle="tab">While You're Writing</a></li>
	<li><a href="#publish_tab" role="tab" data-toggle="tab">When You're Ready to Publish</a></li>
	<li><a href="#promoting_tab" role="tab" data-toggle="tab">Promoting Your FREE eBook</a></li>
	<li><a href="#social_tab" role="tab" data-toggle="tab">Social Networking</a></li>
</ul>

<div class="tab-content" id="resource_tabs">
	<div class="tab-pane fade in active" id="writing_tab">
		<h3>Quality Testing</h3>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Even the very best writers use outside editing help. The following suite of tools tests the quality of your work, including:</p>
					<ul>
						<li>Grammar and spelling</li>
						<li>Readability</li>
						<li>Overused word detection</li>
						<li>Vague or abstract words</li>
						<li>Dull paragraph structure</li>
						<li>Repeated phrases and words</li>
						<li>plagiarism</li>
						<li>Spelling, hyphenation, and capitalization consistency</li>
						<li>Clichés and redundancies</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ol>
						<li><a target="_BLANK" href="http://prowritingaid.com/">Pro Writing Aid</a><p><small>A free quality and readability checker that uses 10+ metrics to improve the quality of your writing. Premium service is also available.</small></p></li>
						<li><a target="_BLANK" href="http://www.youwriteon.com/">You Write On</a><p><small>Upload & review and rate chapters & short stories & yours are reviewed in return with the highest rated receiving leading publisher feedback.</small></p></li>
						<li><a target="_BLANK" href="http://read-able.com/">Read-able</a><p><small>The Readability Test Tool takes the text on your web page and gives a score for the most used readability indicators.</small></p></li>
						<li><a target="_BLANK" href="http://juicystudio.com/services/readability.php">Juicy Studio</a><p><small>Pushes your writing through the Gunning Fog, Flesch Reading Ease, and Flesch-Kincaid reading level algorithms; they are helpful in determining how readable your content is.</small></p></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="publish_tab">
		<h2>Setting Up A Landing Page For Your Book</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>A landing page is a web page dedicated to capturing your visitor's information (usually email) through an opt-in form. Great landing pages target specific audiences, like visitors who have clicked on an ad promoting a webinar, launch, or ebook. It's a great way to build a list of people who are interested in you and your book, and market directly to them.</p>
					<p>Want to know more about why having a landing page for your book is a great idea? Check out the following articles:</p>
					<p><ul>
						<li><a href="http://www.goodbookmarketing.com/7-reasons-why-a-book-landing-page-generates-more-revenue/">7 Reasons Why a Book Landing Page Generates More Revenue</a></li>
						<li><a href="http://unbounce.com/social-media/how-i-created-a-viral-ebook-landing-page-for-8-using-themeforest-paywithatweet-kissinsights-and-unbounce/">Case Study: How I Created a Viral Ebook Landing Page – Using ThemeForest, PayWithATweet, Qualaroo and Unbounce</a></li>
					</ul></p>
				</div>
				<div class="col-md-6">
					<h4>Free Services</h4>
					<ol>
						<li><a href="https://wordpress.com/" target="_BLANK">WordPress</a><p><small>Hugely popular, WordPress runs more than 20% of the top 10 million websites. Well documented and easy to learn.</small></p></li>
						<li><a href="https://sites.google.com" target="_BLANK">Google Sites</a><p><small>Users can quickly build simple web pages with Google Sites.</small></p></li>
					</ol>
					<h4>Paid Services</h4>
					<ol>
						<li><a href="http://unbounce.com/" target="_BLANK">Unbounce</a><p><small>The landing page builder for marketers.</small></p></li>
						<li><a href="http://www.leadpages.net/products/" target="_BLANK">LeadPages</a><p><small>The internets easiest 'next generation' lead generation platform.</small></p></li>
						<li><a href="http://landerapp.com/" target="_BLANK">Lander</a><p><small>Landing Page Templates for Any Marketing Goal.</small></p></li>
						<li><a href="http://launchrock.co/" target="_BLANK">LaunchRock</a><p><small>A platform for launching new ideas, dreams, products, and events.</small></p></li>
					</ol>
				</div>
			</div>
		</div>
		<h2>Response Testing</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Your book is written, and you're prepping it for publication. If you want to release with a bang, it's time to start <strong>response testing</strong>. Put your book cover options, title, and tagline in front of some eyes, and track which options get the best response. Here are some tools that you can use to do this quickly and inexpensively.</p>
					<p>If you're unfamiliar with things like split a/b testing, the following articles will give you a nice introduction:</p>
					<ul>
					<li><a href="http://blog.wishpond.com/post/63575637531/6-facebook-ad-image-best-practices-that-will-send-your">6 Facebook Ad Image Best Practices that will Send your Click-Through-Rate to the Moon</a></li>
					<li><a href="http://www.thecreativepenn.com/2011/01/23/how-to-use-facebook-advertising-to-market-your-book/">How To Use Facebook Advertising To Market Your Book</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<ol>
						<li><a target="_BLANK" href="https://www.facebook.com/advertising">Facebook Ads</a><p><small>Facebook Ads are arguably the best way to split test your book cover, title, and tagline.</small></p></li>
						<li><a target="_BLANK" href="https://ads.twitter.com">Twitter Advertising</a><p><small>Twitter Advertising allows you to tweet outside of of your followers, vastly increasing your reach. While it can be expensive, if you've had success promoting through Twitter in the past, it can be an excellent way to test your ebook title and tagline.</small></p></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="promoting_tab">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>Review Sites</h2>
					<p>While reviews are incredibly important for a successful promotion, <em>be aware that making your book available on the following sites may be in violation of KDP rules</em>.</p>
					<ul>
						<li><a href="http://www.wattpad.com/" target="_BLANK">WattPad</a><p><small>Read, write, and share your stories here.</small></p></li>
						<li><a href="http://storycartel.com/" target="_BLANK">Story Cartel</a><p><small>Free books in exchange for your honest review.</small></p></li>
					</ul>
					
					<h2>Facebook</h2>
					<p>More than 99,000 leads on Facebook who are already interested in FREE ebooks!</p>
					<ol>
						<li><a target="_BLANK" href="https://www.facebook.com/freekindlebookz">Free Kindle Books</a><p><small>Book &bull; 36,777 likes</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/270558336379692/">Free Books</a><p><small>Open Group &bull; 10,141 members</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/126278657527255/">FREE E-BOOKS DOWNLOAD</a><p><small>Open Group &bull; 13,782 members</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/freebkrus/">FREE books R Us</a><p><small>Open Group &bull; 7,452 members</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/FreeTodayOnAmazon/">Free Today on Amazon</a><p><small>Open Group &bull; 12,622 members</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/215918835174776/">Free E Books</a><p><small>Open Group &bull; 3,620 members</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/1013820968756497/">FREE EBOOKS</a><p><small>Open Group &bull; 651 members</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/426282137432533/">Free Kindle Books</a><p><small>Open Group &bull; 10,864 members</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/freeebooks/">Free E-Books</a><p><small>Open Group &bull; 9,787 members</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/341840249197060/">Free Ebooks for Kindle, Nook, and More</a><p><small>Open Group &bull; 2,793 members</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/294455560643884/">Books I Love to Read - Awesome Free Kindle Books Here!</a><p><small>Closed Group &bull; 9,546 members</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/groups/370900356880/">Kindle Freebies, New Authors, and other eBook info</a><p><small>Open Group &bull; 6,933 members</small></p></li>
						<li><a target="_BLANK" href="http://www.facebook.com/TheKindleObsessed">KindleObsessed</a><p><small>Entertainment website &bull; 3,833 likes</small></p></li>
						<li><a target="_BLANK" href="http://www.facebook.com/eReader1.UK">eReader1 UK</a><p><small>Community &bull; 5,960 likes</small></p></li>
						<li><a target="_BLANK" href="http://www.facebook.com/eReader1.US">eReader1 US</a><p><small>Community &bull; 14,833 likes</small></p></li>
						<li><a target="_BLANK" href="https://www.facebook.com/ourawesomegang">Awesome Gang</a><p><small>Media/News/Publishing &bull; 19,958 likes</small></p></li>
						<li><a target="_BLANK" href="http://www.facebook.com/AontheC">Authors on the Cheap</a><p><small>Author &bull; 5,563 likes</small></p></li>
						<li><a target="_BLANK" href="http://www.facebook.com/BookGoodies">Book Goodies</a><p><small>Bookstore &bull; 14,148 likes</small></p></li>
					</ol>
				</div>
				<div class="col-md-6">
					<h2>Forum Blaster <span class="label label-primary">BETA</span></h2>
					<p><%= @friendly_product %> is proud to present to you the beta release of our Forum Blaster tool! Forum Blaster lets you fill out one form about your upcoming free ebook, and submit it to multiple forums/sites at once. For our beta, the following forums are supported:</p>
					<ul>
						<li>FreeBooks.com</li>
						<li>The Digital Inkspot</li>
						<li>Armadillo Ebooks</li>
						<li>Author Shout</li>
						<li>Kindle Book Promos</li>
					</ul>
					<br/>
					<div class="alert alert-info" role="alert">
						<p><strong>Where'd the Forum Blaster go??</strong></p>
						<p>Don't worry, it's not gone forever, and will be back soon. We want to make sure you've got the best tools available, so we're working a few kinks out.</p>
					</div>
					<!--a href="/app/pulse_form" class="btn btn-primary active" role="button">Launch the Forum Blaster</a-->
					<h2>Free eBook Forums and Sites</h2>
					<p>Having been dissappointed by the number of defunct sites and broken links found in popular lists of places to promote your free book, we've visited every one we could find to ensure availability and quality.</p>
					<ol>
						<li><a target="_BLANK" href="http://bookpraiser.com/submit-book/">Book Praiser</a></li>
						<li><a target="_BLANK" href="http://bookcanyon.com/submitbook/">Book Canyon</a></li>
						<li><a target="_BLANK" href="https://docs.google.com/forms/d/1BLxXWpnqgpNyGCbblqdDYHj2A8TrJQf5c9FDbHjXh1w/viewform?embedded=true">The eReader Cafe</a></li>
						<li><a target="_BLANK" href="http://kindlevenue.com/submit-your-free-book/">Kindle Venue</a></li>
						<li><a target="_BLANK" href="http://digitalinktoday.com/submit/">Digital Ink Today</a></li>
						<li><a target="_BLANK" href="https://docs.google.com/spreadsheet/viewform?formkey=dFEyLTFUSHREd05KaVItaDdUUkVVNGc6MA#gid=0">Orangeberry Free Me</a></li>
						<li><a target="_BLANK" href="http://kornerkonnection.com/">Korner Konnection</a></li>
						<li><a target="_BLANK" href="http://kindlebookpromos.luckycinda.com/?page_id=283">Kindle Book Promos</a></li>
						<li><a target="_BLANK" href="https://docs.google.com/spreadsheet/embeddedform?formkey=dFBoLW5ka1J2Q1R4Rzd2NXg5RkszLVE6MQ">Frugal Tips and Freebies</a></li>
						<li><a target="_BLANK" href="http://www.freebooks.com/submit/">FreeBooks</a></li>
						<li><a target="_BLANK" href="http://www.freebookdude.com/2014/03/list-your-free-amazon-kindle-books.html">Free Book Dude</a></li>
						<li><a target="_BLANK" href="http://freedigitalreads.com/author-submissions/">Free Digital Reads</a></li>
						<li><a target="_BLANK" href="http://freebies4mom.com/share-free-ebooks-with-freebies-4-mom/">eReader Perks</a></li>
						<li><a target="_BLANK" href="http://ebookshabit.com/for-authors/">eBooks Habit</a></li>
						<li><a target="_BLANK" href="https://docs.google.com/spreadsheet/embeddedform?formkey=dC1PcUFvVlZiV25lcjYtZzhtNzNQQnc6MQ">Digital Ink Spot</a></li>
						<li><a target="_BLANK" href="http://freebooksonly.com/author-submissions">Free Books Only</a></li>
						<li><a target="_BLANK" href="http://www.armadilloebooks.com/submit-free-ebooks/">Armadillo Ebooks</a></li>
						<li><a target="_BLANK" href="http://www.writerowned.com/list-your-free-book-promotion.html">Writer Owned</a></li>
						<li><a target="_BLANK" href="http://authorshout.com/free-book-promotion/">Author Shout</a></li>
						<li><a target="_BLANK" href="http://www.mommasaysread.com/author-reviews/author-services/">Momma Says Read</a></li>
						<li><a target="_BLANK" href="http://ohfb.com/author-free-kindle-book-submission.html">OHFB</a></li>
						<li><a target="_BLANK" href="http://www.iloveebooks.com/for-authors.html">iLoveEbooks.com</a></li>
						<li><a target="_BLANK" href="http://contentmo.com/submit-your-free-ebook-promo">ContentMO</a></li>
						<li><a target="_BLANK" href="http://bargainebookhunter.com/contact-us/">Bargain eBook Hunter</a></li>
						<li><a target="_BLANK" href="http://www.fkbooksandtips.com/for-authors/">FK Books and Tips</a></li>
						<li><a target="_BLANK" href="http://onehundredfreebooks.com/contact.html">One Hundred Free eBooks</a></li>
						<li><a target="_BLANK" href="http://freeebooksforme.com/authors-page/">Free eBooks for Me</a></li>
						<li><a target="_BLANK" href="http://www.icravefreebies.com/contact/">I Crave Freebies</a></li>
						<li><a target="_BLANK" href="http://freekindlefiction.blogspot.com">Free Kindle Fiction</a></li>
						<li><a target="_BLANK" href="http://storyfinds.com/listing-information-for-authors">Story Finds</a></li>
						<li><a target="_BLANK" href="http://www.freeebooksdaily.com">Free eBooks Daily</a></li>
						<li><a target="_BLANK" href="http://www.pixelofink.com/sfkb/">Pixel of Ink</a></li>
						<li><a target="_BLANK" href="https://greatbooksgreatdeals.wufoo.com/forms/submit/">Great Books, Great Deals</a></li>
						<li><a target="_BLANK" href="http://jungledealsandsteals.com/submit-your-kindle-freebie/">Jungle Deals and Steals</a></li>
						<li><a target="_BLANK" href="http://hunt4freebies.com/submit-freebie">Hunt4Freebies</a></li>
						<li><a target="_BLANK" href="http://freebooksy.com/editorial-submissions">Free Booksy</a></li>
						<li><a target="_BLANK" href="http://www.freebookshub.com/authors/">Free Books Hub</a></li>
						<li><a target="_BLANK" href="http://www.freebookclub.org/kindle-books/book-submissions/">Learner</a></li>
						<li><a target="_BLANK" href="http://freebies4mom.com/share-free-ebooks-with-freebies-4-mom/">Freebies4Mom</a></li>
						<li><a target="_BLANK" href="http://ereadernewstoday.com/ent-free-book-submissions/">eReader News Today</a></li>
						<li><a target="_BLANK" href="http://www.ebooklister.net/submit.php">eBook Lister</a></li>
						<li><a target="_BLANK" href="http://bookpinning.com/?sws=home/submit-book">Book Pinning</a></li>
						<li><a target="_BLANK" href="http://bookgoodies.com/submit-your-free-kindle-days/">Book Goodies</a></li>
						<li><a target="_BLANK" href="http://bookfreebies.com/submit-book.php">Book Freebies</a></li>
						<li><a target="_BLANK" href="http://bookdealhunter.com/submit-free-book/">Book Deal Hunter</a></li>
						<li><a target="_BLANK" href="http://bookangel.co.uk/submit-your-book/">Book Angel</a></li>
						<li><a target="_BLANK" href="http://awesomegang.com/submit-your-book/">Awesome Gang</a></li>
						<li><a target="_BLANK" href="http://indiebookoftheday.com/authors/free-on-kindle-listing/">Indie Book of the Day</a></li>
						<li><a target="_BLANK" href="http://igniteyourbook.com/free-ebook-submission/">Ignite Your Book</a></li>
						<li><a target="_BLANK" href="http://www.peoplereads.com/list-your-ebook">People Reads</a></li>
						<li><a target="_BLANK" href="http://freeebooksme.com/kindle-free-days-e-book-submission">Free E Books</a></li>
						<li><a target="_BLANK" href="http://slashedreads.com/free-book-page-basic-scheduling/">Slashed Reads</a></li>
						<li><a target="_BLANK" href="http://www.bestebooksfree.com/Authors-eBook-Promotion.shtml">Best eBooks Free</a></li>
						<li><a target="_BLANK" href="http://digitalbooktoday.com/12-top-100-submit-your-free-book-to-be-included-on-this-list/">Digital Book Today</a></li>
						<li><a target="_BLANK" href="http://bookpinning.com/?sws=home/submit-book">Book Pinning</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="social_tab">
		<h2>Social Networks for Readers and Writers</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Social networks for readers and writers are a great way to connect to your audience, actual and potential.</p>
				</div>
				<div class="col-md-6">
					<ul>
						<li><a target="_BLANK" href="http://www.goodreads.com/">GoodReads</a><p><small>Meet your next favorite book.</small></p></li>
						<li><a target="_BLANK" href="http://www.shelfari.com/">Shelfari</a><p><small>Shelfari is a community-powered encyclopedia for book lovers.</small></p></li>
						<li><a target="_BLANK" href="https://www.librarything.com/">LibraryThing</a><p><small>A community of 1,800,000 book lovers.</small></p></li>
						<li><a target="_BLANK" href="http://www.rifflebooks.com/">Riffle Books</a><p><small>Get to know friends through their books, and new books through your friends.</small></p></li>
						<li><a target="_BLANK" href="http://booklikes.com/">BookLikes</a><p><small>Share all your reading experiences.</small></p></li>
					</ul>		
				</div>
			</div>
		</div>
	</div>
</div>
<script language="javascript">
	/*$(function(){
		$("#launch_forum_blaster_button").click(function(){
			window.open("/pulse_form");
		});
	});*/
</script>