<%= form_for(@ebook) do |f| %>
  <% if @ebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ebook.errors.count, "error") %> prohibited this ebook from being saved:</h2>

      <ul>
      <% @ebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
