<h1>Listing ebooks</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ebooks.each do |ebook| %>
      <tr>
        <td><%= link_to 'Show', ebook %></td>
        <td><%= link_to 'Edit', edit_ebook_path(ebook) %></td>
        <td><%= link_to 'Destroy', ebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ebook', new_ebook_path %>
