<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>WARNING!</p>

		<p>An automated category crawl for category ID: <%= @category_id %> has failed.</p>

		<p>Please manually check the database to ensure there is no need to rerun.</p>

		<p>You're awesome!</p>

		<p>Sincerely,</p>
		<p>The Kindle Trend Team</p>
	</body>
</html>