<!DOCTYPE html>
<html>
<head>
  <title>Kindle Store Analytics on Steroids! >> <%= @friendly_product %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%#= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "partials/nav" %>
	<div class="container" style="padding: 0 15px;">
		<%= render partial: "partials/flash_messages", flash: flash %>
		<%= yield %>
	</div>
	<%= render :partial => "partials/footer" %>
</body>
</html>
