<h2>Kindle Trend <small>Monthly Subscription</small></h2>

<div class="row">
	<div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 hidden-sm hidden-xs">
		<form id="subscription_form" action="process_subscription" method="post" autocomplete="off">
			<div class="panel panel-default ">
				<div class="panel-heading">Account Information</div>
				<div class="panel-body">
					<div class="form-group">
						<label id="lbl_first_name" for="first_name">First Name:<span style="color: #d40000;">*</span></label>
						<input id="first_name" class="form-control" name="first_name" type="text" placeholder="Please enter your first name."<% unless @first_name.blank? %> value="<%= @first_name %>"<% end %> />
					</div>
					<div class="form-group">
						<label id="lbl_last_name" for="last_name">Last Name:<span style="color: #d40000;">*</span></label>
						<input id="last_name" class="form-control" name="last_name" type="text" placeholder="Please enter your surname."<% unless @last_name.blank? %> value="<%= @last_name %>"<% end %> />
					</div>
					<div class="form-group">
						<label id="lbl_email" for="email">Email:<span style="color: #d40000;">*</span></label>
						<input id="email" class="form-control" name="email" type="text" placeholder="MyName@example.com"<% unless @email.blank? %> value="<%= @email %>"<% end %> />
					</div>
					<div class="form-group">
						<label for="password" id="lbl_password">Password:<span style="color: #d40000;">*</span></label>
						<input type="password" name="password" id="password" class="form-control" placeholder="Please enter a password." />
					</div>
					<div class="form-group">
						<label for="" id="lbl_password_confirm">Confirm password:<span style="color: #d40000;">*</span></label>
						<input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Please confirm the password you entered above." />
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Payment Information</div>
				<div class="panel-body">
					<div class = "alert alert-info">We use industry standard security procedures to ensure that your information is safe with us. Your payment details will never be stored on our servers.</div>
					<div class="form-group">
						<label id="lbl_card_num" for="card_num">Credit Card Number:<span style="color: #d40000;">*</span></label>
						<input id="card_num" data-braintree-name="number" class="form-control" type="text" placeholder="1234 5678 9012 3456" />
					</div>
					<div class="form-group">
						<label id="lbl_exp_month" for="exp_month">Expiry Month:<span style="color: #d40000;">*</span></label>
						<select class="form-control" id="exp_month" data-braintree-name="expiration_month">
							<option value="01">Jan</option>
							<option value="02">Feb</option>
							<option value="03">Mar</option>
							<option value="04">Apr</option>
							<option value="05">May</option>
							<option value="06">Jun</option>
							<option value="07">Jul</option>
							<option value="08">Aug</option>
							<option value="09">Sep</option>
							<option value="10">Oct</option>
							<option value="11">Nov</option>
							<option value="12">Dec</option>
						</select>
					</div>
					<div class="form-group">
						<label id="lbl_exp_year" for="exp_year">Expiry Year:<span style="color: #d40000;">*</span></label>
						<input id="exp_year" data-braintree-name="expiration_year" class="form-control" type="text" placeholder="2015" />
					</div>
					<div class="form-group">
						<label id="lbl_cvv" for="">CVV (on the back of your card):<span style="color: #d40000;">*</span></label>
						<input id="cvv" class="form-control" name="cvv" type="text" placeholder="123" />
					</div>
					<div class="form-group"><label for="coupon" id="lbl_coupon">Have a coupon code?</label>
						<div class="input-group">
							<input type="text" name="coupon" id="coupon" class="form-control" placeholder="none" />
							<span class="input-group-btn">
				            <button type="button" class="btn btn-info" id="verify_coupon_btn"><span class="glyphicon glyphicon-ok"></span>&nbsp;Verify Coupon</button>
				            </span>
						</div>
						<p id="coupon_message"></p>
					</div>
					<div class = "alert alert-success">
						<div class="lead">Kindle Trend service subscription</div>
						<p style="text-align: center;"><strong>Monthly</strong> subscription plan.</p>
						<hr />
						<p class="lead" style="text-align: center;"><strong>TOTAL: </strong>$<span id="monthly_price">37</span> monthly.</p>
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block" name="subscribe_bttn" id="subscribe_bttn" disabled><i class="fa fa-credit-card"></i> Buy Now!</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 hidden-sm hidden-xs">
		<div style="width: 100%; text-align: center;">
			<img class="img-thumbnail" src="http://www.kindletrend.com/wp-content/uploads/2014/06/Kindle-Trend-MBP-470x313.jpg" alt="Kindle Trend on a Macbook Pro" />
		</div>
		<h2>Order now and you'll get:</h2>
		<ul class="list-group">
			<li class="list-group-item"><span class="glyphicon none"></span>
			<span style="color: #d40000;">ALL Kindle Trend features and upgrades, including:</span></li>
			<li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>
			<strong style="font-size: 1.25em;">Category Tree</strong><br/>
			<em>Visibility into the structure of categories</em></li>
			<li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>   <strong style="font-size: 1.25em;">Easy Targets</strong><br/>
			<em>Find categories that are easy to get into the top 100 with</em></li>
			<li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>   <strong style="font-size: 1.25em;">Category Summaries</strong><br/>
			<em>High-level data that lets you see demand, competition, and potential profitability at a glance</em></li>
			<li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>   <strong style="font-size: 1.25em;">Take Offs</strong><br/>
			<em>What it will take to break in as a bestseller, and what you can expect when you do.</em></li>
			<li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>   <strong style="font-size: 1.25em;">Analytics</strong><br/>
			<em>Exactly the information needed to tailor your book into a bestseller.</em></li>
		</ul>
	</div>
</div>

<script language="javascript">
	$(function(){
		// Init the BrainTree nonce gen...
		//var braintree = Braintree.create('MIIBCgKCAQEAw/9V8mrtBuPnOnTfdgmGEjXm7VBJESIXAyPMZFQ+wjUOqMSt6XJTlWYToymYKS4+giaYjCDGPlnJwX15eENvof1ak2PmeYSsdyTNdEFf8JiHtDEhWnkKMnnrqQpwCU04oAOESBLBRLEalh2nkrKOeTCdrlYLKEjfkEk3TjAV9rj8/IRoIbeBPpwdLdJFVWDGh7vbb08/5pKEgP1sBCo4QEq3XXycRyx5ptQSrmcw0mI71KUhfbhGEnyJv/IVR51SXeDqfOfrhxsC998kce8rZj7FR8zinH4fA0Olajhsd9ZWVJtTvoTOR2qE0JuZoGtvq26JIXccp64e4gHyauPoIQIDAQAB');
		braintree.setup("<%= @client_token %>", "custom", {id: "subscription_form"});

		$("#subscribe_bttn").click(function(event){
			event.preventDefault();

			$("#subscription_form").bootstrapValidator().bootstrapValidator("validate");

			if ( $("#subscription_form").data("bootstrapValidator").isValid() == true ) {
				// Braintree activities...
				var client = new braintree.api.Client({clientToken: "<%= @client_token %>"});
				var number = $("#card_num").val();
				number = number.split(" ").join("");
				var mo = $("#exp_month").val();
				var yr = $("#exp_year").val();
				var cvv = $("#cvv").val();
				yr = yr.slice(-2);

				var tokenHash = {number:number, expirationMonth:mo, expirationYear:yr, cvv:cvv};

				client.tokenizeCard(tokenHash, function (err, nonce) {
					$("[name='payment_method_nonce']").val(nonce);
					document.forms["subscription_form"].submit();
				});
			};
		});

		$("#subscription_form").bootstrapValidator({
			live: 'enabled',
			submitButtons: '#subscribe_bttn',
			message: 'This value is not valid',
        	feedbackIcons: {
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
        	},
	        fields: {
	            first_name: {
	                message: 'This is not a valid name.',
	                validators: {
	                    notEmpty: {
	                        message: 'First name is required and cannot be empty'
	                    },
	                    stringLength: {
	                        min: 2,
	                        max: 30,
	                        message: 'Your first name must be more than 2 and less than 30 characters long'
	                    },
	                    regexp: {
	                        regexp: /^[a-zA-Z _]+$/,
	                        message: 'First name can only consist of letters.'
	                    }
	                }
	            },

	            last_name: {
	                message: 'This is not a valid name.',
	                validators: {
	                    notEmpty: {
	                        message: 'Last name is required and cannot be empty'
	                    },
	                    stringLength: {
	                        min: 2,
	                        max: 30,
	                        message: 'Your surname must be more than 6 and less than 30 characters long'
	                    },
	                    regexp: {
	                        regexp: /^[a-zA-Z _]+$/,
	                        message: 'Last name can only consist of letters.'
	                    }
	                }
	            },

	            email: {
	                validators: {
	                    notEmpty: {
	                        message: 'The email is required and cannot be empty'
	                    },
	                    emailAddress: {
	                        message: 'The input is not a valid email address'
	                    }
	                }
	            },

							password: {
									validators: {
											notEmpty: {
													message: 'Please provide a password for your Kindle Trend account'
											},
											stringLength: {
													min: 8,
													max: 100,
													message: 'Your password must be at least 8 characters long.'
											},
											identical: {
                        field: 'confirm_password',
                        message: 'The password and its confirmation are not the same'
                    	}
									}
							},

							confirm_password: {
									validators: {
											notEmpty: {
													message: 'Please confirm your password for your Kindle Trend account'
											},
											identical: {
												field: 'password',
												message: 'The password and its confirmation are not the same'
											}
									}
							},

	            card_num: {
									selector: '#card_num',
	                message: 'Please enter a valid credit card number.',
	                validators: {
	                    notEmpty: {
	                        message: 'Credit card number is required and cannot be empty.'
	                    },
	                    creditCard: {
	                    	message: "Please enter a valid credit card number."
	                    }
	                }
	            },

	            cvv: {
									selector: '#cvv',
	                message: 'Please enter a valid cvv code.',
	                validators: {
	                    notEmpty: {
	                        message: 'CVV code is required and cannot be empty'
	                    },
	                    cvv: {
	                    	message: "Please enter a valid CVV code."
	                    }
	                }
	            },

	            exp_year: {
									selector: '#exp_year',
	                message: 'Please enter a valid year.',
	                validators: {
	                    notEmpty: {
	                        message: 'Expiry year is required and cannot be empty'
	                    },
											stringLength: {
												min: 4,
												max: 4,
												message: 'Please enter a 4-digit year.'
											},
	                    integer: {
	                    	message: "Please enter a valid year."
	                    }
	                }
	            }
	        }
		});

		$("#verify_coupon_btn").click(function(){
			var payload = { coupon: $("#coupon").val() };

			$.ajax({
				url: "/app/verify/coupon",
				//url: "/verify/coupon",
				type: "post",
				data: payload,
				success: function(data){
					if (data["valid"] == true) {
						$("#coupon_message").css("color", "green");
						$("#coupon_message").text("Looks legit. Your subscription will be discounted by 50%.");
						$("#monthly_price").text("18.50");
					} else {
						$("#coupon_message").css("color", "red");
						$("#coupon_message").text("Sorry, this isn't an active coupon code.");
						$("#monthly_price").text("37");
					};
				},
				error: function(data){
					$("#coupon_message").css("color", "red");
					$("#coupon_message").text("There was an error verifying your coupon code. Please try again.");
				}
			});
		});
	});
</script>
