<h1><%= @friendly_product %> login</h1>

<% if params[:bpid].present? %>
    <% partner = Partner.find_by(token: params[:bpid])
        if partner.app_style != nil %>
            <%= stylesheet_link_tag "bootstrap.#{partner.app_style}.min" %>
    <% end %>
<% end %>

<div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><%= link_to "Forgot your password?", "mailto:#{partner.support_email}?subject=Forgot password for #{partner.product_name}" %></div>
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form accept-charset="UTF-8" action="/app/partner/user/login" class="new_user" id="new_user" method="post">

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="hidden" name="pid" id="pid" value="<%= partner.token || params[:bpid] %>" />
                                        <input autofocus="autofocus" class="form-control" id="user_email" name="user[email]" placeholder="email" type="email" value="" />
                                    </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input class="form-control" id="user_password" name="user[password]" placeholder="password" type="password" />
                                    </div>

                                <div style="margin:10px 0 50px 0;" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <input class="btn btn-success" name="commit" type="submit" value="Sign in" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
        </div>
    </div>
