<h1>Whitelabel edit account</h1>

<% if user_signed_in? %>
    <% if current_user.account.partner.present? && current_user.account.partner.app_style != nil %>
        <%= stylesheet_link_tag "bootstrap.#{current_user.account.partner.app_style}.min" %>
    <% end %>
<% end %>
<div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Edit User</div>
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form action="user/update" method="post" id="update_user_form">
                        <%#= devise_error_messages! %>
                            <div class="form-group">
                                <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input autofocus="autofocus" class="form-control" id="user_email" name="user[email]" placeholder="email" type="email" value="<%= current_user.email %>" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div style="margin-bottom: 25px" class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input class="form-control" id="user_password" name="user[password]" placeholder="password" type="password" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div style="margin-bottom: 25px" class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
                                    <input class="form-control" id="user_password_confirmation" name="user[password_confirmation]" placeholder="confirm password" type="password" />
                                </div>
                            </div>

                            <div class="form-group">
                                 <div style="margin-bottom: 25px" class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input class="form-control" id="user_current_password" name="user[current_password]" placeholder="current password (to confirm your changes)" type="password" />
                                </div>
                            </div>

                                <div style="margin:10px 0 0 0;" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <input class="btn btn-success" name="save_bttn" id="save_bttn" type="submit" value="Update my account" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 control" style="margin-top: 10px;">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Nevermind. Please take me
                      <%= link_to "back to the application.", root_path %><br />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
        </div>
    </div>

<% case current_user.account.payment_processor %>
<% when "braintree" %>
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Cancel My Account</div>
                </div>
                <div style="padding-top:30px" class="panel-body" >
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                      <p>If you wish to cancel your subscription to <strong><%= @friendly_product %></strong> for any reason, please click the button below. Note that doing so will PERMANENTLY DELETE your account, and you will no longer have access to <%= @friendly_product %> and its associated data, reports, and tools.</p>
                      <p>You will no longer be charged for your <%= @friendly_product %> subscription, starting at the next billing cycle.</p>
                    </div>
                    
                    <div style="margin:10px 0 0 0;" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                          <%#= button_to "PERMANENTLY DELETE my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger", :method => :delete %>
                          <%= button_to "PERMANENTLY DELETE my account", cancel_subscription_path(current_user), :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger", :method => :delete %>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control" style="margin-top: 10px;">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                I DO NOT wish to cancel, please
          <%= link_to "take me back to #{@friendly_product}.", root_path %><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% when "jvzoo" %>
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Cancel My Account</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
            <div style="margin-bottom: 25px" class="input-group">
                      <p>If you wish to cancel your subscription to <strong><%= @friendly_product %></strong> for any reason, please follow the instructions below. Note that doing so will PERMANENTLY DELETE your account, and you will no longer have access to <%= @friendly_product %> and its associated data, reports, and tools.</p>
                      <p>You will no longer be charged for your <%= @friendly_product %> subscription, starting at the next billing cycle.</p>
                    </div>
                <h4>To cancel your subscription from JVZoo:</h4>
                <ol>
                    <li>Log in to your <a href="https://www.paypal.com" target="_BLANK">PayPal account</a>.</li>
                    <li>Click <strong>Profile</strong> near the top of the page.</li>
                    <li>Click <strong>My money</strong>.</li>
                    <li>Click <strong>Update</strong> in the <strong>My preapproved payments</strong> section.</li>
                    <li>Click <strong>Cancel</strong>, <strong>Cancel automatic billing</strong>, or <strong>Cancel subscription</strong> and follow the instructions.</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<% else %>
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Cancel My Account</div>
                </div>
                <div style="padding-top:30px" class="panel-body" >
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                      <p>If you wish to cancel your subscription to <strong><%= @friendly_product %></strong> for any reason, please click the button below to email they system administrators. Note that doing so will PERMANENTLY DELETE your account, and you will no longer have access to <%= @friendly_product %> and its associated data, reports, and tools.</p>
                      <p>You will no longer be charged for your <%= @friendly_product %> subscription, starting at the next billing cycle.</p>
                    </div>
                    
                    <% if current_user.account.partner.present? %>
                    <div style="margin:10px 0 0 0;" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                          <%#= button_to "PERMANENTLY DELETE my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger", :method => :delete %>
                          <%= link_to "PERMANENTLY DELETE my account", "mailto:#{current_user.account.partner.support_email}?subject=#{@friendly_product} - Please cancel my subscription", :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger", :target => "blank" %>
                        </div>
                    </div>
                    <% end %>

                    <div class="form-group">
                        <div class="col-md-12 control" style="margin-top: 10px;">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                I DO NOT wish to cancel, please
          <%= link_to "take me back to #{@friendly_product}.", root_path %><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>

<script>
    $(function(){
        $("#update_user_form").bootstrapValidator({
            live: 'enabled',
            submitButtons: '#save_bttn',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },

            fields: {
                email: {
                    selector: "#user_email",
                    validators: {
                        notEmpty: {
                            message: 'A valid email address is required'
                        },
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }
                    }
                },

                password: {
                    selector: "#user_password",
                    validators: {
                        notEmpty: {
                                message: 'Please provide a new password for your Kindle Trend account'
                        },
                        stringLength: {
                                min: 8,
                                max: 100,
                                message: 'Your new password must be at least 8 characters long.'
                        },
                        identical: {
                            field: 'confirm_password',
                            message: 'The password and its confirmation are not the same'
                        }
                    }
                },

                confirm_password: {
                    selector: "#user_password_confirmation",
                    validators: {
                        notEmpty: {
                                message: 'Please confirm your password for your Kindle Trend account'
                        },
                        identical: {
                            field: 'password',
                            message: 'The password and its confirmation are not the same'
                        }
                    }
                },

                current_password: {
                    selector: "#user_current_password",
                    validators: {
                        notEmpty: {
                                message: 'Please provide a password for your Kindle Trend account'
                        },
                        stringLength: {
                                min: 8,
                                max: 100,
                                message: 'Your password must be at least 8 characters long.'
                        }
                    }
                }
            }
        });
    });
</script>